page-register {
  .page{
    background-color:	white;
  }

  .header{
    height: 25vw;
    background: white;
    padding: 0 5vw 0 5vw;
    .header-btn-container{
      display: flex;
      align-items: center;
      .btn-back{
        width: 7vw;
        height: 7vw;
      }
      .btn-info{
        width: 7vw;
        height: 7vw;
        margin: auto;
        margin-right: 0;
      }
    }
    .progress-container{
      display: flex;
      align-items: center;
      .progressbar{
        width: 100%;
        height: 1.5vw;
        border-radius: 2vw;
        background: #F2F2F2;
        .progress{
          width: 20%;
          height: 100%;
          border-radius: 2vw;
          background: map-get($colors, ut-yellow);
        }
      }
    }
  }

  .swiper-slide {
    position: relative;
    display: block !important;
    width: 100%;
    height: 100%;
  }

  .slide-zoom {
    text-align: left;
    display: block;
    width: 100%;
  }

  .title{
    font-family: 'SFUIDisplay-Bold';
    font-size: 7vw;
    height: 10vw;
    display: flex;
    align-items: center;
    p{
      line-height: 1;
      margin: 0vw 0vw 0vw 5vw;
    }
  }

  .title2{
    font-family: 'SFUIDisplay-Bold';
    font-size: 7vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      line-height: 1;
      margin: 0vw 0vw 0vw 5vw;
    }
  }
  
  .form{
    margin-top: 4vw;
    .item-divider-md, .item-divider-ios {
      padding-left: 0;
      padding-bottom: 2vw;
      margin-left: 5vw;
      width: 90vw;
      border-bottom: 0.1vw solid #D3D3D3;
      font-size: 3.5vw;
      color: #CACACE;
      background-color: #fff;
      .icon-eye{
        background: url('../../../assets/imgs/icon-eye.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 6vw;
        height: 5vw;
        position: absolute;
        bottom: 10%;
        right: 0;
      }
      .icon-eye-visible{
        background: url('../../../assets/imgs/icon-eye-black.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 6vw;
        height: 5vw;
        position: absolute;
        bottom: 10%;
        right: 0;
      }
    }
    .text-input-md, .text-input-ios{
      color: black;
    }
  }

  .detail{
    padding: 0 5vw 0 5vw;
    display: flex;
    justify-content: center;
    p{
      font-size: 4.5vw;
      margin: 0;
      line-height: 2.3;
    }
  }

  .btn-row{
    margin-top: 5vw;
    padding-left: 5vw;
    button{
      width: 40vw;
      font-family: 'SFUIDisplay-Medium';
      color: black;
      padding: 3vw;
      box-shadow: 0px 0.5vw 3vw #FFDB89;
      height: 11vw;
      border-radius: 5%;
      text-transform: none;
      font-size: 3.5vw;
    } 
  }

  .image-container{
    padding-top: 10vw;
    display: flex;
    justify-content: center;
    .verified-img{
      height: 30vw;
    }
    .complete-img{
      height: 30vw;
      margin-bottom: 5vw;
    }
  }

  .input-container{
    margin-left: 6vw;
    margin-top: 3vw;
    width: 88vw;
    display: flex;
    justify-content: center;
    .input-customer-code{
      border: 0.2vw solid #A5A5A5;
      box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.0678782);
      border-radius: 7px;
      padding: 2vw;
      .text-input-md, .text-input-ios {
        margin: 13px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
        text-align: center;
      }
    }
  }

  .next{
    margin-top: 4vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 5.5vw;
    p{
      color: #C2A100;
      font-size: 5vw;
      font-family: 'SFUIDisplay-Medium';
    }
  }

  .send{
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    p{
      color: #C2A100;
      font-size: 5vw;
      font-family: 'SFUIDisplay-Medium';
    }
  }
}
