<ion-content padding class="page">
    <ion-row class="header">
      <ion-col col-3 class="header-btn-container" no-padding>
        <img *ngIf="slides.realIndex < 3" src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickGoBack()">
      </ion-col>
      <ion-col col-6 class="progress-container">
        <div class="progressbar">
          <div class="progress" [style.width]="model.progress"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-slides (ionSlideDidChange)="ionSlideDidChange()">
      <ion-slide>
        <ion-row class="title">
          <p>Register</p>
        </ion-row>
        <ion-row class="form">
          <ion-item-divider>
            <ion-label color="stacked-label" stacked>EMAIL</ion-label>
            <ion-input type="email" placeholder="Input Email" [(ngModel)]="model.email"></ion-input>
          </ion-item-divider>          
          <ion-item-divider>
            <ion-label color="stacked-label" stacked>PASSWORD</ion-label>
            <ion-input type="{{model.isPasswordVisible ? 'text' : 'password'}}" placeholder="Input Password" [(ngModel)]="model.password" clearOnEdit="false"></ion-input>
            <button (click)="onClickShowPassword()" item-end [ngClass]="model.isPasswordVisible ? 'icon-eye-visible' : 'icon-eye'"></button>
          </ion-item-divider>
          <ion-item-divider>
            <ion-label color="stacked-label" stacked>CONFIRM PASSWORD</ion-label>
            <ion-input type="{{model.isConfirmPasswordVisible ? 'text' : 'password'}}" placeholder="Confirm Your Password" [(ngModel)]="model.confirmPassword" clearOnEdit="false"></ion-input>
            <button (click)="onClickShowConfirmPassword()" item-end [ngClass]="model.isConfirmPasswordVisible ? 'icon-eye-visible' : 'icon-eye'"></button>
          </ion-item-divider>
        </ion-row>
        <ion-row class="next">
          <p (click)="onClickNext()">Next</p>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row class="title">
          <p>Your Profile</p>
        </ion-row>
        <ion-row class="form">
          <ion-item-divider>
            <ion-label color="stacked-label" stacked>USERNAME</ion-label>
            <ion-input type="text" placeholder="Input Username" [(ngModel)]="model.username"></ion-input>
          </ion-item-divider>
        </ion-row>
        <ion-row class="form">
          <ion-item-divider>
            <ion-label color="stacked-label" stacked>FULL NAME</ion-label>
            <ion-input type="text" placeholder="Input Full Name" [(ngModel)]="model.fullname"></ion-input>
          </ion-item-divider>
        </ion-row>
        <ion-row class="next">
          <p (click)="onClickNext()">Next</p>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row class="title2">
          <p>Verify Your Account</p>
        </ion-row>
        <ion-row class="image-container">
          <img src="assets/imgs/verifiedaccount.png" class="verified-img">
        </ion-row>
        <ion-row class="detail">
          <p>Please enter your</p>
          <p>customer code & cutomer name</p>
        </ion-row>
        <ion-row class="input-container">
          <ion-input class="input-customer-code" type="text" placeholder="example : 1827192johndoe" [(ngModel)]="model.customerCode"></ion-input>
        </ion-row>
        <ion-row class="send">
          <p (click)="onClickSend()">Send</p>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row class="title2">
          <p>Account Verified!</p>
        </ion-row>
        <ion-row class="image-container">
          <img src="assets/imgs/register-complete.png" class="complete-img" (click)="onClickComplete()">
        </ion-row>
        <ion-row class="detail">
          <p>Congratulations!</p><br>
        </ion-row>
        <ion-row class="detail">
          <p>Your account has been verified!</p>
        </ion-row>
      </ion-slide>
    </ion-slides>
</ion-content>