page-my-equipments-status-unit-detail {
  .header-container{
    background: white;
    padding: 0 5vw 5vw 5vw;
    min-height:100%;
    .header{
      height: 25vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
      }
      .title-container{
        display: flex;
        align-items: center;
        .title{
          font-family: 'SFProText-Semibold';
          margin: 0 0 0 -3vw;
          line-height: 1.5;
          font-size: 4vw;
        }
        .unit-type{
          font-family: 'SFProText-Regular';
          margin: 0 0 0 -3vw;
          font-size: 3vw;
        }
      }
    }
    .unit-status{
      border-radius: 3.7vw;
      padding: 2vw;
      width: 90vw;
      background-color: #FFF4BC;
      .status-icon{
        width: 12.5vw;
      }
      .status-content{
        margin-left: 2vw;
        .title{
          margin: 0;
          font-size: 4vw;
          color: rgb(152, 152, 152);
          font-family: 'SFUIText-Regular';
        }
        .status{
          margin: 0.5vw 0 0 0;
          font-size: 5.3vw;
          font-family: 'SFUIText-Bold';
        }
      }
      .status-detail{
        p{
          margin: 0;
          padding: 0;
        }
        .black-dot{
          margin: auto;
          margin-top: 1.8vw;
          width: 1.3vw;
          height: 1.3vw;
          border-radius: 50%;
          background-color: rgb(29,29,29);
        }
        .detail-title{
          font-size: 4vw;
          color: rgb(29, 29, 29);
          font-family: 'SFUIText-Bold';
          margin-bottom: 0.5vw;
        }
        .detail-content{
          margin-top: 0.5vw;
          font-size: 3.6vw;
          color: rgb(0, 0, 0);
          font-family: 'SFUIText-Regular';
        }
      }
    }
  }
}
