<ion-content no-padding>
  <div class="header-container">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <ion-grid no-padding>
          <ion-row justify-content-center>
            <p class="title">{{this.model.brandName}}</p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row class="unit-status" align-items-center>
      <ion-col col-2>
        <img src="assets/imgs/cautionIcon.png" class="status-icon"/>
      </ion-col>
      <ion-col col-6 class="status-content">
        <p class="title">Unit Status</p>
        <p class="status">{{this.model.cautions.length}} Cautions!</p>
      </ion-col>
      <ion-row class="status-detail" col-12 *ngFor="let item of model.cautions">
        <ion-col col-1>
          <div class="black-dot"></div>
        </ion-col>
        <ion-col col-11>
          <p class="detail-title">{{item.description}}</p>
          <p class="detail-content" *ngFor="let line of item.cautionSteps">{{line.description}}</p>
        </ion-col>
      </ion-row>
    </ion-row>
  </div>
</ion-content>
