page-my-orders-closed-order {
  .page{
    background: white;
  }

  .header-container{
    padding: 0;
    height: 100vw;
    .header{
      padding: 0vw 5vw 0vw 5vw;
      padding-top: 5vw;
      padding-bottom: 1vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
      }
      .title-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .status-title {
          font-family: 'SFProText-Semibold';
          font-size: 4.5vw;
        }
      }
    }
  }

  ion-scroll[scrollX] {
    margin-top: 4vw;
    white-space: nowrap;
    height: 35vw;
    .total-order-card {
      margin-left: 5vw;
      padding: 3vw;
      display: inline-block;
      width: 27vw;
      height: 30vw;
      font-family: 'SFUIDisplay-Bold';
      margin-right: 0;
      border: 0.5vw solid #F0F0F0;
      border-radius: 2vw;
      .card-header{
        width: 100%;
        font-size: 3vw;
        font-family: 'SFUIText-Light';
        color: #555555;
      }
      .total-order-value{
        margin-top: 2vw;
        font-size: 8vw;
        font-family: 'SFUIText-Bold';
        color: #1D1D1D;
        line-height: 1;
      }
      .total-order-footer{
        font-size: 2.8vw;
        font-family: 'SFUIDisplay-Light';
      }
    }
    .monthly-otif-card{
      margin-left: 2vw;
      padding: 3vw;
      display: inline-block;
      width: 40vw;
      height: 30vw;
      font-family: 'SFUIDisplay-Bold';
      margin-right: 0;
      border: 0.5vw solid #F0F0F0;
      border-radius: 2vw;
      .card-header{
        position: absolute;
        top: 10%;
        width: 100%;
        font-size: 3vw;
        font-family: 'SFUIText-Light';
        color: #555555;
      }
      .otif-bar{
        width: 100%;
        height: 4vw;
        border-radius: 1vw;
        margin-top: 7vw;
      }
      .otif-value{
        color: #76D672;
        font-size: 4vw;
        margin-top: 3vw;
      }
      .otif-label{
        color: #1D1D1D;
        font-size: 2.5vw;
      }
      .monthly-otif-footer{
        font-size: 2.6vw;
        font-family: 'SFUIDisplay-Thin';
        position: absolute;
        bottom: 10%;
        color: #9B9B9B;
      }
    }
    .send-order-card{
      margin-left: 2vw;
      padding: 3vw;
      display: inline-block;
      width: 30vw;
      height: 30vw;
      font-family: 'SFUIDisplay-Bold';
      margin-right: 0;
      border: 0.5vw solid #F0F0F0;
      border-radius: 2vw;
      box-shadow: 0vw 0.5vw 2vw rgba(0, 0, 0, 0.0586221);
      .send-order-header-container{
        position: absolute;
        top: 10%;
        .send-order-card-header{
          top: 10%;
          width: 100%;
          font-size: 3.3vw;
          font-family: 'SFProText-Semibold';
          color: #4F4F4F;
          line-height: 1;
        } 
      }
      .mail-icon{
        position: absolute;
        top: 13vw;
        width: 9vw;
        margin-left: -0.5vw;
      }
      .send-order-card-footer{
        font-size: 2.6vw;
        font-family: 'SFUIDisplay-Thin';
        position: absolute;
        bottom: 10%;
        color: #9B9B9B;
      }
    }
    .white-space{
      margin-left: 2vw;
      padding: 3vw;
      display: inline-block;
      width: 5vw;
      height: 30vw;
    }
  }

  .item-ios, .item-md{
    padding: 2vw;
    ion-label{
     margin: 0 !important; 
    }
    .item-inner{
      padding: 0 !important;
    }
  }

  .summary-header-container{
    margin-top: 2vw;
    padding: 0vw 5vw 0vw 5vw;
    .summary-header{
      font-size: 4.5vw;
      font-family: 'SFUIText-Bold';
    }
    .summary-period{
      font-size: 3.2vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: 'SFUIText-Light';
      color: #9A9A9A;
    }
  }

  .summary-detail-container{
    padding-left: 5vw;
    margin-top: 2vw;
    .summary-detail-header{
      margin: 0;
      color: #9A9A9A;
      font-size: 3vw;
    }
    .summary-detail-sonumber{
      margin: 1vw 0 0 0;
      color: #3273EB;
      font-size: 3.5vw;
    }
    .summary-detail-eta{
      margin: 1vw 0 0 0;
      color: #1D1D1D;
      font-size: 3.5vw;
      font-family: 'SFUIText-Bold';
    }
  }

  .review-row{
    padding: 3vw 5vw 3vw 5vw;
    .review-label{
      display: flex;
      align-items: center;
      p{
        margin: 0;
        color: #9A9A9A;
        font-size: 3.5vw;
      }
    }
    .review-container{
      display: flex;
      justify-content: flex-end;
      div{
        p{
          font-size: 3vw;
          color: #9A9A9A;
          font-family: 'SFUIText-Regular';
        }
        .star-icon{
          margin-left: 3vw;
          width: 7vw;
          display: inline;
        }
      }
    }
  }

  .write-review-container{
    margin-top: 1vw;
    padding-bottom: 8vw;
    border-bottom: 0.2vw solid #F0F0F0;
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    .write-review-icon{
      width: 5vw;
      object-fit: scale-down;
    }
    p{
      margin: 0 0 0 2vw;
      font-size: 4vw;
      color: #828282;
    }
  }

  .separator{
    background: #F2F2F4;
    height: 3vw;
    width: 100vw;
  }

  .toolbar{
    background: white;
    height: 18vw;
    .toolbar-title{
      font-family: 'SFUIText-Bold';
      font-size: 4.5vw;
      padding-left: 5vw;
    }
    .btn-container{
      display: flex;
      justify-content: flex-end;
      padding-right: 5vw;
      .icon-filter{
        width: 4vw;
        object-fit: scale-down;
      }
      .icon-sort{
        margin-left: 10vw;
        width: 5vw;
        object-fit: scale-down;
      }
    }
    .btn-back-toolbar{
      position: absolute;
      left: 5vw;
      width: 6vw;
      opacity: 0;
    }
  }

  .item{
    margin-left: 5vw;
    width: 90vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-top: 0.2vw solid #F0F0F0;
    .item-col-1{
      .item-header{
        margin: 0;
        font-family: 'SFUIText-Bold';
        font-size: 4.5vw;
      }
      p{
        margin: 0;
        line-height: 1.5;
        .part-label{
          color: #9A9A9A;
          font-size: 3.5vw;
        }
        .part-id{
          margin-left: 1vw;
          color: #1D1D1D;
          font-size: 4vw;
          font-family: 'SFUIText-Bold';
        } 
      }
    }
    .item-col-2{
      text-align: end;
      .total-label{
        margin: 0;
        color: #9A9A9A;
        font-size: 4vw;
      }
      .total-items{
        margin: 0;
        color: #1D1D1D;
        font-size: 4vw;
        font-family: 'SFUIText-Bold';
        .from{
          font-family: 'SFUIText-Regular';
          color: #9A9A9A;
        }
      }
    }
  }
}