<ion-content fullscreen no-padding #myContent class="page">
  <div class="header-container">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickGoBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <div class="status-header">
          <p class="status-title">Closed Order</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="summary-header-container">
      <ion-col col-6 class="summary-header" no-padding>
        {{model.summary.poCustomer}}
      </ion-col>
      <ion-col col-6 class="summary-period">
        {{model.summary.soDate}}
      </ion-col>
    </ion-row>
    <ion-row class="summary-detail-container">
      <ion-col col-4>
        <p class="summary-detail-header">Order Id</p>
        <p class="summary-detail-sonumber">{{model.summary.soNumber}}</p>
      </ion-col>
      <ion-col col-8>
        <p class="summary-detail-header">ETA</p>
        <p class="summary-detail-eta">{{model.summary.lastETA}}</p>
      </ion-col>
    </ion-row>
    <ion-scroll scrollX="true">
      <ion-item class="total-order-card" no-padding>
        <p class="card-header">Total Item</p>
        <p class="total-order-value">{{model.summary.totalLineItem}}</p>
        <p class="total-order-footer">Item</p>
      </ion-item>
      <ion-item class="monthly-otif-card" no-padding>
        <p class="card-header">OTIF</p>
        <div class="otif-bar" [style.background]="'linear-gradient(to right, #76D672 ' + 100 + '%, #D0D0D0 ' + 100 +'%)'"></div>
        <p class="otif-value">100%</p>
        <p class="otif-label">OTIF</p>
      </ion-item>
      <ion-item class="send-order-card" no-padding>
        <div class="send-order-header-container">
          <p class="send-order-card-header">Send List</p>
          <p class="send-order-card-header">Order</p>
        </div>
        <img src="assets/imgs/sendMail.png" class="mail-icon">
        <p class="send-order-card-footer">in CSV</p>
      </ion-item>
      <ion-item class="white-space" no-padding>
      </ion-item>
    </ion-scroll>
    <ion-row class="review-row">
      <ion-col col-4 class="review-label" no-padding>
        <p>Tap to Rate</p>
      </ion-col>
      <ion-col col-8 class="review-container">
        <div *ngFor="let i of rating">
          <img src="assets/imgs/star-filled.png" class="star-icon" *ngIf="i < model.summary.reviewStar">
          <img src="assets/imgs/star.png" class="star-icon" *ngIf="i >= model.summary.reviewStar">
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="write-review-container">
      <img src="assets/imgs/writereview.png" class="write-review-icon" (click)="onClickWriteReview()">
      <p (click)="onClickWriteReview()">Write a review</p>
    </ion-row>
    <ion-row class="toolbar">
      <ion-col col-8 class="toolbar-title" [scrollTranslate]="translateScrollConfig" [scrollContent]="myContent">
        <img src="assets/imgs/buttonBack.png" class="btn-back-toolbar" (click)="onClickGoBack()" [scrollOpacity]="opacityScrollConfig" [scrollContent]="myContent">
        Item
      </ion-col>
      <ion-col col-4 class="btn-container">
        <img src="assets/imgs/iconFilter.png" class="icon-filter">
        <img src="assets/imgs/iconShortByBold.png" class="icon-sort">
      </ion-col>
    </ion-row>
    <ion-row class="item">
      <ion-col col-8 class="item-col-1">
        <p class="item-header">Cutting Edge-p</p>
        <p>
          <span class="part-label">Part</span>
          <span class="part-id">154-70-11314</span>
        </p>
      </ion-col>
      <ion-col col-4 class="item-col-2">
        <p class="total-label">Total</p>
        <p class="total-items">5<span class="from"> / 5</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="item">
      <ion-col col-8 class="item-col-1">
        <p class="item-header">Cutting Edge-p</p>
        <p>
          <span class="part-label">Part</span>
          <span class="part-id">154-70-11314</span>
        </p>
      </ion-col>
      <ion-col col-4 class="item-col-2">
        <p class="total-label">Total</p>
        <p class="total-items">5<span class="from"> / 5</span></p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>