<div class="notification">
  <ion-row class="notification-item">
      <img src="assets/imgs/Pending.png" class="time-icon"/>
      <ion-card>
        <ion-card-content>
          <p class="time">20 August 2018 • 11:00 WIB</p>
          <p class="title">Pending Comissioning</p>
          <p class="description">Unit PC200-8M0 (SN:C13422) has not been comissioned</p>
        </ion-card-content>
      </ion-card>
  </ion-row>
  <ion-row class="notification-item">
    <img src="assets/imgs/cautionIcon.png" class="time-icon"/>
    <ion-card (click)="onClickUnitDetail('c86eca5f-d977-465a-ae53-08ee6d122a3b')">
      <ion-card-content>
        <p class="time">24 August 2018 • 09:00 WIB</p>
        <p class="title">Equipment Caution</p>
        <p class="description">Unit PC200-8M0 (SN:C13422) has 4 caution</p>
      </ion-card-content>
    </ion-card>
</ion-row>
</div>
