<ion-content no-padding class="modal-page">
    <ion-row class="modal-header">
        <img src="assets/imgs/iconClose.png" class="close-btn" (click)="onClickCloseButton()"/>
        <p class="header-label">Send Email</p>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row>
                <p class="group-title">Select Order Status</p>
            </ion-row>
        </ion-col>
        <ion-col col-12>
            <ion-row class="option-row">
                <div class="option-box-order" (click)="onClickOrderStatus('openorder')" [ngClass]="orderStatus == 'openorder' ? 'selected' : ''">
                    <img [src]="orderStatus == 'openorder' ? 'assets/imgs/checked.png' : 'assets/imgs/unchecked.png'" class="icon-checked">
                    &nbsp;&nbsp;Open Order
                </div>
            </ion-row>
            <ion-row class="option-row">
                <div class="option-box-order" (click)="onClickOrderStatus('closedorder')" [ngClass]="orderStatus != 'openorder' ? 'selected' : ''">
                    <img [src]="orderStatus != 'openorder' ? 'assets/imgs/checked.png' : 'assets/imgs/unchecked.png'" class="icon-checked">
                    &nbsp;&nbsp;Closed Order
                </div>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row>
                <p class="group-title">Select Period</p>
            </ion-row>
        </ion-col>
        <ion-col col-12>
            <ion-row class="option-row">
                <ion-col col-6>
                    <div class="option-box" (click)="onClickPeriod('monthtodate')" [ngClass]="period == 'monthtodate' ? 'selected' : ''">
                        Month to Date
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="option-box" (click)="onClickPeriod('last1month')" [ngClass]="period == 'last1month' ? 'selected' : ''">
                        Last 1 Month
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="option-row">
                <ion-col col-6>
                    <div class="option-box" (click)="onClickPeriod('last3months')" [ngClass]="period == 'last3months' ? 'selected' : ''">
                        Last 3 Months
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="option-box" (click)="onClickPeriod('last6months')" [ngClass]="period == 'last6months' ? 'selected' : ''">
                        Last 6 Months
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="option-row">
                <ion-col col-6>
                    <div class="option-box" (click)="onClickPeriod('last12months')" [ngClass]="period == 'last12months' ? 'selected' : ''">
                        Last 12 Months
                    </div>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <div>
        <button ion-button color="ut-yellow" class="btn-see-all" (click)="onClickApply()">Send</button>
    </div>
</ion-content>