<ion-content no-padding>
  <div class="header-container">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <ion-grid padding>
          <ion-row>
            <div class="status-header">
              <p class="status-title">My Equipments</p>
              <p class="status-unit-count">{{this.model.summary.totalCount}} Total Unit</p>
            </div>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row class="dropdown" (click)="onClickEquipmentsDropdown()">
      <ion-col col-7 class="logo-container">
          <img src="assets/imgs/{{image[selected]}}" class="logo">
      </ion-col>
      <ion-col col-5 class="icon-container">
        <img src="assets/imgs/iconDropDown.png" />
      </ion-col>
    </ion-row>
    <ion-scroll scrollX="true" *ngIf="selected != 'ALL'">
      <ion-item class="scroll-item" *ngFor="let unitType of model.type" (click)="onCLickEquipmentsType(unitType.type)">
        <p [ngClass]="unitType.selected ? 'type-name selected' : 'type-name'">{{unitType.type == '' ? 'All' : unitType.type}}</p>
        <div class="custom-badge-container">
          <p [ngClass]="unitType.selected ? 'custom-badge-selected' : 'custom-badge'">{{unitType.amount}}</p>
        </div>
      </ion-item>
    </ion-scroll>
  </div>
  <div [ngClass]="selected == 'ALL' ? 'content' : 'content-selectequipment' ">
    <p class="group-label">TELEMETRY STATUS</p>
    <ion-row class="progress-bar" (click)="onClickMyEquipmentsStatusPage('')" [style.background]="'linear-gradient(to right, #00AAE8 ' + this.availablePercentage + '%, #353535 ' + this.availablePercentage +'%)'"></ion-row>
    <ion-row class="telemetry-value-container">
        <ion-col col-6>
          <div class="available-icon"></div>
          <p no-margin class="telemetry-value">Available <b>{{this.model.summary.availableCount}} Unit</b></p>
        </ion-col>
        <ion-col col-6>
          <div class="not-available-icon"></div>
          <p no-margin class="telemetry-value">Not Available <b>{{this.model.summary.notAvailableCount}} Units</b></p>
        </ion-col>
      </ion-row>
    <p class="group-label">OPERATION STATUS</p>
    <ion-row class="progress-bar-label">
      <ion-col col-6 no-padding>
        <p>Operate</p>
      </ion-col>
      <ion-col col-6 class="progress-bar-value" no-padding>
        <p (click)="onClickMyEquipmentsStatusPage('OPERATE')">{{this.model.summary.operateCount}} of {{this.model.summary.availableCount}} Unit</p>
      </ion-col>
    </ion-row>
    <ion-row class="progress-bar" [style.background]="'linear-gradient(to right, #5ACC4D ' + this.operatePercentage + '%, #E3E3E3 ' + this.operatePercentage +'%)'"></ion-row>
    <ion-row class="progress-bar-label">
      <ion-col col-6 no-padding>
        <p>Not Operate</p>
      </ion-col>
      <ion-col col-6 class="progress-bar-value" no-padding>
        <p (click)="onClickMyEquipmentsStatusPage('NOT OPERATE')">{{this.model.summary.notOperateCount}} of {{this.model.summary.availableCount}} Unit</p>
      </ion-col>
    </ion-row>
    <ion-row class="progress-bar" [style.background]="'linear-gradient(to right, #E9445A ' + this.notOperatePercentage + '%, #E3E3E3 ' + this.notOperatePercentage +'%)'"></ion-row>
    <p class="group-label">HEALTH STATUS</p>
    <ion-row class="progress-bar-label">
      <ion-col col-6 no-padding>
        <p>Unit Caution</p>
      </ion-col>
      <ion-col col-6 class="progress-bar-value" no-padding>
        <p (click)="onClickMyEquipmentsStatusPage('UNIT CAUTION')">{{this.model.summary.unitCautionCount}} of {{this.model.summary.availableCount}} Unit</p>
      </ion-col>
    </ion-row>
    <ion-row class="progress-bar" [style.background]="'linear-gradient(to right, #FFD500 ' + this.unitCautionPercentage + '%, #E3E3E3 ' + this.unitCautionPercentage +'%)'"></ion-row>
    <p class="group-label"><b>TRANSMIT STATUS</b></p>
    <ion-row class="progress-bar-label">
      <ion-col col-6 no-padding>
        <p>Transmit Ratio</p>
      </ion-col>
    </ion-row>
    <ion-row class="progress-bar" [style.background]="(this.model.summary.availableCount > 0) ?'linear-gradient(to right, #59ad24 ' + this.transmitPercentage + '%, #d70c27 ' + this.transmitPercentage +'%)' : '#7D7D7D'"></ion-row>
    <ion-row class="transmit-value-container">
      <ion-col col-6>
        <div class="transmit-icon"></div>
        <p no-margin class="transmit-value">Transmit {{this.transmitPercentage | number:'1.0-0'}}%</p>
      </ion-col>
      <ion-col col-6>
        <div class="lost-transmit-icon"></div>
        <p no-margin class="transmit-value">Lost Transmit {{this.lostTransmitPercentage | number:'1.0-0'}}%</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>