page-my-equipments {
  .header-container{
    background: white;
    padding: 0 5vw 0 5vw;
    .header{
      height: 25vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
        .btn-refresh{
          width: 6vw;
          height: 6vw;
          margin: auto;
          margin-right: 0;
        }
      }
      .status-header {
        padding:0vw;
        margin:0 auto;
        text-align: center;
      }
      .status-title {
        font-family: 'SFProText-Semibold';
        font-size: 4.5vw;
      }
      .status-unit-count {
        font-family: 'SFProText-Regular';
        font-size: 3.5vw;
        margin-top: -4vw;
      }
      .title-container{
        display: flex;
        align-items: center;
        .title{
          font-family: 'SFProText-Semibold';
          margin: 0 0 0 -3vw;
          line-height: 1.5;
          font-size: 4vw;
        }
        .unit-count{
          font-family: 'SFProText-Regular';
          margin: 0 0 0 -3vw;
          font-size: 3vw;
        }
      }
    } 
    .dropdown{
      font-family: 'SFUIDisplay-Bold';
      font-size: 7vw;
      color: map-get($colors, ut-yellow);
      p{
        margin: 0 0 0 0;
      }
      .logo-container{
        display: flex;
        align-items: center;
        height: 12vw;
        .logo{
          max-height: 12vw;
        }
      }
      .icon-container{
        display: flex;
        align-items: center;
        img{
          padding-top: 1vw;
          width: 3.5vw;
        }
      }
    }
    ion-scroll[scrollX] {
      margin-top: 4vw;
      white-space: nowrap;
      height: 10vw;
      .scroll-item {
        display: inline-block;
        width: auto;
        height: 10vw;
        background: none;
        padding-left: 0;
        padding-right: 8.5vw;
        color: rgba(15, 20, 113, 0.28);
        font-family: 'SFUIDisplay-Bold';
        margin-right: 0;
        .input-wrapper{
          display: flex;
          align-items: flex-end;
        }
        .type-name{
          line-height: 2.1;
          font-size: 4vw;
          margin-bottom: 0;
        }
        .custom-badge-container{
          position: absolute;
          top: 1vw;
          right: 6vw;
          width: 3vw;
          .custom-badge{
            color: rgba(124, 124, 124, 0.28);
            font-size: 3vw;
          }
          .custom-badge-selected{
            color: #7D7D7D;
            font-size: 3vw;
          }
        }
        .test {
          position: absolute;
          top: 0.3vw;
          right: 8vw;
          color: rgb(0, 122, 255);
          font-size: 3vw;
          width: 8vw;
        }
      }
      .selected{
        color: map-get($colors, ut-yellow);
        border-bottom: 0.5vw solid map-get($colors, ut-yellow);
      }
    }
  }

  .item-md p, .item-ios p{
    color: rgba(124, 124, 124, 0.28);
  }

  .item-md.item-block .item-inner{
    padding-right: 0;
  }

  .item-ios.item-block .item-inner{
    padding-right: 0;
  }

  .label-md {
    margin: 1vw 0 0 0;
  }

  .label-ios {
    margin: 1vw 0 0 0;
  }
  .content-selectequipment {
    background: rgb(242, 242, 244);
    padding: 0 5vw 0 5vw;
    height: 100%;
  }

  .content{
    padding: 2vw 5vw 0 5vw;
    background: linear-gradient(white, rgb(242, 242, 244), rgb(242, 242, 244),
                              rgb(242, 242, 244), rgb(242, 242, 244), rgb(242, 242, 244),
                              rgb(242, 242, 244), rgb(242, 242, 244), rgb(242, 242, 244));
    height: 100%;
    .progress-bar-label{
      font-size: 4vw;
      p{
        margin: 0 0 2vw 0;
      }
      .progress-bar-value{
        color: rgb(0, 122, 255);
        text-align: right;
      }
      .progress-bar-value-not-available{
        color: rgb(151, 151, 151);
        text-align: right;
      }
    }
    .group-label {
      color: rgb(161,161,161);
      font-size: 3vw;
      font-family: 'SFProText-Regular';
      margin: 7vw 0 3vw 0;
    }
    .progress-bar{
      margin: 2vw 0 3vw 0;
      height: 3vw !important;
      width: 100%;
      background: rgb(227, 227, 227);
      border-radius: 1.5vw;
    }
    .transmit-value-container{
      font-size: 3vw;
      display: flex;
      align-items: center;
      .transmit-icon{
        background: rgb(89, 173, 36);
        height: 3vw;
        width: 3vw;
        border-radius: 0.7vw;
        position: absolute;
        left: 0;
        top: 1.7vw;
      }
      .lost-transmit-icon{
        background: rgb(215, 12, 39);
        height: 3vw;
        width: 3vw;
        border-radius: 0.7vw;
        position: absolute;
        left: 0;
        top: 1.7vw;
      }
      .transmit-value{
        margin-left: 3vw;
      }
    }
    .telemetry-value-container{
      font-size: 3vw;
      display: flex;
      align-items: center;
      .available-icon{
        background: #00AAE8;
        height: 3vw;
        width: 3vw;
        border-radius: 0.7vw;
        position: absolute;
        left: 0;
        top: 1.7vw;
      }
      .not-available-icon{
        background: #353535;
        height: 3vw;
        width: 3vw;
        border-radius: 0.7vw;
        position: absolute;
        left: 0;
        top: 1.7vw;
      }
      .telemetry-value{
        margin-left: 3vw;
      }
    }
  }
}
