<ion-content no-padding>
    <ion-row class="modal-header">
        <img src="assets/imgs/iconClose.png" class="close-btn" (click)="onClickCloseButton()"/>
        <p class="header-label">My Equipment</p>
    </ion-row>
    <ion-row class="my-equipments-content">
      <ion-col *ngIf="getByBrand('') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('')">
        <ion-card [ngClass]="activeMenu == 'ALL' ? 'my-equipments-card selected' : 'my-equipments-card'" no-margin>
          <ion-row class="error-container">
            
          </ion-row>
          <ion-row class="brand-container">
            <img src="assets/imgs/iconAll.png" class="brand-logo">
          </ion-row>
          <ion-row>
            <p class="unit-count">{{getByBrand('')}}</p>
          </ion-row>
          <ion-row>
            <p class="label-units">All Units</p>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="getByBrand('KOMATSU') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('KOMATSU')">
        <ion-card [ngClass]="activeMenu == 'KOMATSU' ? 'my-equipments-card selected' : 'my-equipments-card'" no-margin>
          <ion-row class="error-container">
            <div *ngIf="getByBrand('KOMATSU') > 0" class="error"></div>
          </ion-row>
          <ion-row class="brand-container">
            <img src="assets/imgs/logoKomatsu.png" class="brand-logo2">
          </ion-row>
          <ion-row>
            <p class="unit-count">{{getByBrand('KOMATSU')}}</p>
          </ion-row>
          <ion-row>
              <p class="label-units">Units</p>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="getByBrand('UDTRUCK') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('UDTRUCK')">
        <ion-card [ngClass]="activeMenu == 'UDTRUCK' ? 'my-equipments-card selected' : 'my-equipments-card'" no-margin>
          <ion-row class="error-container">
            <div *ngIf="getByBrand('UDTRUCK') > 0" class="error"></div>
          </ion-row>
          <ion-row class="brand-container">
            <img src="assets/imgs/udTrucksLogo.png" class="brand-logo">
          </ion-row>
          <ion-row>
            <p class="unit-count">{{getByBrand('UDTRUCK')}}</p>
          </ion-row>
          <ion-row>
            <p class="label-units">Units</p>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="getByBrand('SCANIA') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('SCANIA')">
        <ion-card [ngClass]="activeMenu == 'SCANIA' ? 'my-equipments-card selected' : 'my-equipments-card'" no-margin>
          <ion-row class="error-container">
            <div *ngIf="getByBrand('SCANIA') > 0" class="error"></div>
          </ion-row>
          <ion-row class="brand-container">
            <img src="assets/imgs/logoScania.png" class="brand-logo">
          </ion-row>
          <ion-row>
            <p class="unit-count">{{getByBrand('SCANIA')}}</p>
          </ion-row>
          <ion-row>
              <p class="label-units">Units</p>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="getByBrand('BOMAG') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('BOMAG')">
        <ion-card [ngClass]="activeMenu == 'BOMAG' ? 'my-equipments-card selected' : 'my-equipments-card'" no-margin>
          <ion-row class="error-container">
            <div *ngIf="getByBrand('BOMAG') > 0" class="error"></div>
          </ion-row>
          <ion-row class="brand-container">
            <img src="assets/imgs/bomagLogo.png" class="brand-logo">
          </ion-row>
          <ion-row>
            <p class="unit-count">{{getByBrand('BOMAG')}}</p>
          </ion-row>
          <ion-row>
              <p class="label-units">Units</p>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="getByBrand('TADANO') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('TADANO')">
        <ion-card [ngClass]="activeMenu == 'TADANO' ? 'my-equipments-card selected' : 'my-equipments-card'" no-margin>
          <ion-row class="error-container">
            <div  *ngIf="getByBrand('TADANO') > 0" class="error"></div>
          </ion-row>
          <ion-row class="brand-container">
            <img src="assets/imgs/tadanoCompanyLogo.png" class="brand-logo3">
          </ion-row>
          <ion-row>
            <p class="unit-count">{{getByBrand('TADANO')}}</p>
          </ion-row>
          <ion-row>
              <p class="label-units">Units</p>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>