my-equipments-modal{
    .modal-header{
        font-size: 5vw;
        font-family: 'SFUIDisplay-Bold';
        text-align: center;
        .close-btn{
            width: 5vw;
            position: absolute;
            top: 6vw;
            left: 5vw;
        }
        .header-label{
            text-align: center;
            width: 100%;
            margin: 5vw 0 0 0;
        }
    }

    .my-equipments-content{
        margin-top: 2vw;
        padding: 5vw;
        .my-equipments-col{
          .my-equipments-card{
            box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
            border-radius: 3.5vw;
            width: 100%;
            height: 28vw;
            .error-container{
              height: 2vw;
              .error{
                position: absolute;
                right: 3.5vw;
                top: 3.5vw;
                height: 2vw;
                width: 2vw;
                background-color: red;
                border-radius: 50%;
              }
            }
            .brand-container{
              padding: 3vw;
              .brand-logo{
                text-align: left;
                object-fit: contain;
                width: auto;
                height: 5vw;
              }
              .brand-logo2{
                text-align: left;
                object-fit: contain;
                width: auto;
                height: 3vw;
              } 
              .brand-logo3{
                text-align: left;
                object-fit: contain;
                width: auto;
                height: 4vw;
              } 
              .others{
                text-align: left;
                object-fit: contain;
                width: auto;
                height: 6.5vw;
              } 
            }
            .unit-count{
              font-size: 7vw;
              line-height: 1.3;
              font-family: 'SFUIText-Bold';
              margin-left: 3vw;
              position: absolute;
              bottom: 7vw;
            }
            .label-units{
              position: absolute;
              bottom: 15%;
              font-size: 3vw;
              line-height: 1;
              margin-left: 3vw;
              font-weight: 600;
              color: rgb(152, 152, 152);
            }
          }
          .selected{
            border: 0.7vw solid rgb(248, 206, 70);
          }
        }
      }
}