<ion-content no-padding>
  <div class="header-container">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <ion-grid no-padding>
          <ion-row justify-content-center>
            <p class="title">Working Characteristics</p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </div>
  <div class="content-container">
    <ion-row>
      <ion-scroll scrollX="true" [ngStyle]="{'width':this.getScaleWidth()}">
        <div class="char-item" *ngFor="let item of this.getWorkingCharateristicObject(); let i = index">
          <div [ngStyle]="{'background-color':this.getColor(i),'margin-top':this.getMarginTop(item.value),'height':this.getHeight(item.value)}" class="indicator-div"></div>
          <p class="indicator-value">{{ item.value }}</p>
          <p class="indicator-label">{{ item.type }}</p>
        </div>
        <div class="char-scale" [ngStyle]="{'width':this.getScaleWidth()}">
          <ion-row class="scale-title">
            <p>IN HOURS</p>
          </ion-row>
          <ion-row class="scale-item" *ngFor="let hour of this.hours">
            <div class="scale-label">
              <p>{{hour}}</p>
            </div>
            <div [ngStyle]="{'width':this.getBarWidth()}" class="scale-bar"></div>
          </ion-row>
        </div>
      </ion-scroll>
    </ion-row>
  </div>
</ion-content>
