page-my-equipments-status-unit-chart{
  .header-container{
    background: white;
    padding: 0 5vw 0vw 5vw;
    .header{
      height: 25vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
      }
      .title-container{
        display: flex;
        align-items: center;
        .title{
          font-family: 'SFProText-Semibold';
          margin: 0 0 0 -3vw;
          line-height: 1.5;
          font-size: 4vw;
        }
      }
    }
  }
  .content-container{
    background: white;
    padding: 0 5vw 5vw 5vw;
    ion-scroll[scrollX] {
      margin: 0vw -5vw 5vw -5vw;
      height: 150vw;
      .scroll-zoom-wrapper{
        display: flex;
        padding-left: 15vw;
        padding-top: 5vw;
      }
      .char-item{
        z-index: 2;
        background: none;
        width: 14.6vw;
        height: 140vw;
        margin: 1.5vw 2vw 0vw 2vw;
        padding: 0vw;
        .indicator-div{
          width: 14.6vw;
          border-radius: 0.5vw;
          margin: 0;
        }
        .indicator-value{
          margin-top: 2vw;
          margin-bottom: 0vw;
          font-size: 4.5vw;
          font-family: 'HelveticaNeue-Bold';
          color: rgb(29, 29, 29);
        }
        .indicator-label{
          margin-top: 0.5vw;
          font-size: 2.6vw;
          font-family: 'SFUIDisplay-Regular';
          color: rgb(29, 29, 29);
        }
      }
      .char-scale{
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        height: 120vw;
        z-index: 1;
        padding-left: 5vw;
        .scale-title{
          font-size: 2.4vw;
          font-family: 'SFUIDisplay-Regular';
          color: #727272;
          height: 3vw;
          margin: 0 0 2vw 0;
          p{
            margin:0;
          }
        }
        .scale-item{
          display: flex;
          align-items: flex-start;
          .scale-label{
            width: 4vw;
            height: 5vw;
            font-size: 2vw;
            font-family: 'SFUIDisplay-Regular';
            color: #727272;
            vertical-align: middle;
            p{
              margin:0;
            }
          }
          .scale-bar{
            height: 1.5vw;
            border-bottom: 0.3vw solid rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
