<ion-content padding class="page" no-padding>
    <ion-row>
        <img src="assets/imgs/logoUnitedTractor.png" class="logo">
    </ion-row>
    <ion-row>
        <img src="assets/imgs/login-background.jpg" class="background">
    </ion-row>
    <ion-row class="button-row">
        <ion-col col-5>
            <button ion-button outline color="button-outline" class="btn-login" (click)="onClickLogin()">Login</button>
        </ion-col>
        <ion-col col-5>
            <button ion-button color="ut-yellow" class="btn-register" (click)="onClickRegister()">Register</button>
        </ion-col>
    </ion-row>
</ion-content>
