page-landing {
  .page{
    padding: 0px !important;
    background: white;
    .logo{
      max-height: 6vh;
      margin-left: 22.5vw;
      margin: 8vh auto 7vh auto;
      object-fit: scale-down;
    }
    .background{
      width: 100vw;
      height: 110vw;
      object-fit: scale-down;
    }
  }
  .button-row{
    position: absolute;
    bottom: 4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-login{
      width: 100%;
      font-family: 'SFUIDisplay-Medium';
      color: black;
      background: white;
      padding: 3vw;
      border-radius: 8%;
      height: 11vw;
      text-transform: none;
      font-size: 3.5vw;
    }
    .btn-register{
      width: 100%;
      font-family: 'SFUIDisplay-Medium';
      color: black;
      padding: 3vw;
      box-shadow: 0px 0.5vw 3vw #FFDB89;
      height: 11vw;
      border-radius: 8%;
      text-transform: none;
      font-size: 3.5vw;
      margin-top: 1vw;
      margin-left: 5vw;
    }
  }
}
