<ion-content padding class="page">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickGoBack()">
      </ion-col>
    </ion-row>
    <ion-row class="title">
      <p>Log In</p>
    </ion-row>
    <ion-row class="form">
      <ion-item-divider>
        <ion-label color="stacked-label" stacked>USERNAME</ion-label>
        <ion-input type="email" placeholder="Input Username" [(ngModel)]="model.username"></ion-input>
      </ion-item-divider>          
      <ion-item-divider>
        <ion-label color="stacked-label" stacked>PASSWORD</ion-label>
        <ion-input type="{{model.isPasswordVisible ? 'text' : 'password'}}" placeholder="Input Password" [(ngModel)]="model.password" clearOnEdit="false"></ion-input>
        <button (click)="onClickEye()" item-end [ngClass]="model.isPasswordVisible ? 'icon-eye-visible' : 'icon-eye'"></button>
      </ion-item-divider>
    </ion-row>
    <ion-row class="btn-row">
      <button ion-button color="ut-yellow" (click)="onClickLogin()" [disabled]="model.username == '' || model.password == ''">Log In</button>
    </ion-row>
    <ion-row class="forgot-password">
      <p (click)="onClickForgotPassword()">Forgot Password?</p>
    </ion-row>
</ion-content>
