page-login {

  .page{
    background-color:	white;
  }

  .header{
    height: 25vw;
    background: white;
    padding: 0 5vw 0 5vw;
    .header-btn-container{
      display: flex;
      align-items: center;
      .btn-back{
        width: 7vw;
        height: 7vw;
      }
      .btn-info{
        width: 7vw;
        height: 7vw;
        margin: auto;
        margin-right: 0;
      }
    }
  }
  .title{
    font-family: 'SFUIDisplay-Bold';
    font-size: 6vw;
    height: 10vw;
    display: flex;
    align-items: center;
    p{
      line-height: 1;
      margin: 0vw 0vw 0vw 5vw;
    }
  }
  
  .form{
    margin-top: 4vw;
    .item-divider-md, .item-divider-ios {
      padding-left: 0;
      padding-bottom: 2vw;
      margin-left: 5vw;
      width: 90vw;
      border-bottom: 0.1vw solid #D3D3D3;
      font-size: 3.5vw;
      color: #CACACE;
      background-color: #fff;
      .icon-eye{
        background: url('../../../assets/imgs/icon-eye.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 6vw;
        height: 5vw;
        position: absolute;
        bottom: 10%;
        right: 0;
      }
      .icon-eye-visible{
        background: url('../../../assets/imgs/icon-eye-black.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 6vw;
        height: 5vw;
        position: absolute;
        bottom: 10%;
        right: 0;
      }
    }
    .text-input-md, .text-input-ios{
      color: black;
    }
  }

  .btn-row{
    margin-top: 5vw;
    padding-left: 5vw;
    button{
      width: 40vw;
      font-family: 'SFUIDisplay-Medium';
      color: black;
      padding: 3vw;
      box-shadow: 0px 0.5vw 3vw #FFDB89;
      height: 11vw;
      border-radius: 5%;
      text-transform: none;
      font-size: 3.5vw;
    } 
  }

  .forgot-password{
    margin-top: 4vw;
    padding-left: 5.5vw;
    p{
      color: #C2A100;
      font-size: 3.5vw;
      font-family: 'SFUIDisplay-Thin';
    }
  }
}
