<ion-tabs #tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="custom-home" [rootParams]="tabParams"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Equipment" tabIcon="custom-equip" [rootParams]="tabParams"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Order" tabIcon="custom-order" [rootParams]="tabParams"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Notification" tabIcon="custom-notification" [rootParams]="tabParams"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Other" tabIcon="custom-other" [rootParams]="tabParams"></ion-tab>
</ion-tabs>
