<ion-content no-padding >
  <div class="header-container">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <ion-grid no-padding>
          <ion-row *ngIf="this.show" justify-content-center >
            <p class="title">{{this.model.brandName}}</p>
          </ion-row>
          <ion-row *ngIf="!this.show" class="skeleton" justify-content-center>
            <p class="title">Unit Brand</p>
          </ion-row>
          <ion-row *ngIf="!this.show" class="skeleton" justify-content-center >
            <p class="unit-type">Unit Type</p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="this.show && !this.model.isUnitCaution" [class.unit-status]="this.show" [class.status-not-available]="this.model.operationStatus==2" [class.status-operate]="this.model.operationStatus==0" [class.status-not-operate]="this.model.operationStatus==1" align-items-center>
      <ion-col col-8 class="status-content">
        <p class="title">Unit Status</p>
        <p class="status">{{this.model.operationStatusString}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="this.show && this.model.isUnitCaution" [class.unit-status]="this.show" [class.status-caution]="this.model.isUnitCaution" align-items-center>
      <ion-col col-2>
        <img src="assets/imgs/cautionIcon.png" class="status-icon" />
      </ion-col>
      <ion-col col-6 class="status-content">
        <p class="title">Unit Status</p>
        <p class="status">{{this.model.numberOfCaution}} Cautions!</p>
      </ion-col>
      <ion-col col-3 class="show-detail">
        <img src="assets/imgs/buttonBack.png" class="show-button" (click)="onClickStatusUnitDetail()">
        <p class="show-text">Show Detail</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!this.show" class="unit-status skeleton" align-items-center>
    </ion-row>
  </div>
  <div class="content">
    <ion-row class="data-title model-number-label">
      <p *ngIf="this.show">Model Number</p>
    </ion-row>
    <ion-row class="model-number">
      <p *ngIf="this.show">{{this.model.modelNumber}}</p>
      <p *ngIf="!this.show" class="skeleton">skeletonData</p>
    </ion-row>
    <ion-row  class="data-title">
      <p *ngIf="this.show">Serial Number</p>
    </ion-row>
    <ion-row  class="data-value">
      <p *ngIf="this.show">{{this.model.serialNumber}}</p>
      <p *ngIf="!this.show" class="skeleton">skeletonData</p>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="unit-image">
        <img *ngIf="this.show" src="assets/imgs/excavator.png" class="img-unit">
        <div *ngIf="!this.show" class="skeleton" style="width:37vw;height:37vw;"></div>
      </ion-col>
      <ion-col col-6 class="transmit">
        <ion-row *ngIf="this.show" class="transmit-header" >
          <div *ngIf="this.show" [class.grey-dot]="this.model.operationStatus==2" [class.green-dot]="this.model.isTransmitted" [class.red-dot]="!this.model.isTransmitted"></div>
          <p [style.color]="this.model.isTransmitted ? '#59AD24' : this.model.operationStatus!=2 ? '#E9445A' : ''" >{{this.model.isTransmitted ? "Transmit" : this.model.operationStatus!=2 ? "Lost Transmit" : ""}}</p>
        </ion-row>
        <ion-row *ngIf="!this.show" class="transmit-header skeleton" style="width:25vw;height:5vw;">
        </ion-row>
        <ion-row class="transmit-title">
          <p *ngIf="this.show">Last Transmit</p>
        </ion-row>
        <ion-row class="transmit-data">
          <img *ngIf="this.show" src="assets/imgs/iconCalendar.png" class="iconCalendar">
          <p *ngIf="this.show">{{this.model.lastTransmitted ? this.getTransmittedDate(this.model.lastTransmitted) : "Not Available"}}</p>
          <p *ngIf="!this.show" class="skeleton">skeletonData</p>
        </ion-row>
        <ion-row class="transmit-data">
          <img *ngIf="this.show" src="assets/imgs/iconTime.png" class="iconTime">
          <p *ngIf="this.show">{{this.model.lastTransmitted ? this.getTransmittedTime(this.model.lastTransmitted) : "Not Available"}}</p>
          <p *ngIf="!this.show" class="skeleton">skeletonData</p>
        </ion-row>
        <ion-row class="transmit-data">
          <img *ngIf="this.show" src="assets/imgs/iconLocation.png" class="iconLocation">
          <p (click)="onClickLocation()" *ngIf="this.show" [ngClass]="{'unit-location' : this.model.transmittedPlantKabupaten}">{{this.model.transmittedPlantKabupaten ? this.model.transmittedPlantKabupaten+" ,"+this.model.transmittedPlantZipCode : "Not Available"}}</p>
          <p *ngIf="!this.show" class="skeleton">skeletonData</p>
        </ion-row>
        <ion-row class="transmit-title">
          <p *ngIf="this.show">Current Plant</p>
        </ion-row>
        <ion-row class="transmit-data">
          <p *ngIf="this.show">{{this.model.plantDescription}}</p>
          <p *ngIf="!this.show" class="skeleton">skeletonData</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="serial-warranty">
        <ion-row  class="data-title">
          <p *ngIf="this.show">Unit Code</p>
        </ion-row>
        <ion-row  class="data-value">
          <p *ngIf="this.show">{{this.model.unitCode}}</p>
          <p *ngIf="!this.show" class="skeleton">skeletonData</p>
        </ion-row>
        <ion-row  class="data-title">
          <p *ngIf="this.show">Warranty End Date</p>
        </ion-row>
        <ion-row  class="data-value">
          <p *ngIf="this.show">{{this.getWarrantyEndDate(this.model.warrantyEndDate)}}</p>
          <p *ngIf="!this.show" class="skeleton">skeletonData</p>
        </ion-row>
        <ion-row  class="warranty-notice">
          <p *ngIf="this.show" [style.color]="this.model.warrantyStatus ? '#5ACC4D' : '#9A9A9A'">{{this.model.warrantyStatusString}}</p>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row class="smr" align-items-center>
          <div *ngIf="this.show" class="orange-block">SMR</div>
          <p *ngIf="this.show">{{this.model.smrTotalInMinutes ? ((this.model.smrTotalInMinutes/60) | number:'1.0-0')+' hr' : "-"}}</p>
          <p *ngIf="!this.show" class="skeleton">skeletonData</p>
        </ion-row>
        <ion-row class="smr-date" align-items-center>
          <div *ngIf="this.show" class="orange-block">SMR DATE</div>
          <p *ngIf="this.show">{{this.model.smrLastValueDate ? this.getSMRDate(this.model.smrLastValueDate) : "-"}}</p>
          <p *ngIf="!this.show" class="skeleton">skeletonData</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-scroll scrollX="true">
        <div *ngIf="this.show && this.getFuelObject()" class="fuel-consumption">
          <p class="item-title">Fuel Consumption<br/>Per Day</p>
          <img src="assets/imgs/oval.png" class="img-fuel">
          <p class="item-value">{{this.getFuelObject().value}}L</p>
        </div>
        <div *ngIf="this.show && !this.getFuelObject()" class="fuel-consumption">
          <p class="item-title">Fuel Consumption<br/>Per Day</p>
          <p class="item-not-available">Not<br/>Available</p>
        </div>
        <div *ngIf="!this.show" class="fuel-consumption">
          <div class="skeleton" style="width:26vw;height:26vw;margin-top:2vw;"></div>
        </div>
        <div *ngIf="this.show && this.getActualWorkingHoursObject()" class="working-hours">
          <p class="item-title">Working Hours Per Day</p>
          <ion-row>
            <ion-col col-6>
              <div [ngStyle]="{'background-color':'#6A69DD','margin-top':this.getMarginTop(this.getTotalWorkingHoursObject().value),'height':this.getHeight(this.getTotalWorkingHoursObject().value)}" class="indicator-div"></div>
              <p class="indicator-value">{{this.getTotalWorkingHoursObject().value}}</p>
              <p class="indicator-label">Total working <br/>hours</p>
            </ion-col>
            <ion-col col-6>
              <div [ngStyle]="{'background-color':'#76D672','margin-top':this.getMarginTop(this.getActualWorkingHoursObject().value),'height':this.getHeight(this.getActualWorkingHoursObject().value)}" class="indicator-div"></div>
              <p class="indicator-value">{{this.getActualWorkingHoursObject().value}}</p>
              <p class="indicator-label">Actual working <br/>hours</p>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="this.show && !this.getActualWorkingHoursObject()" class="working-hours">
          <p class="item-title">Working Hours Per Day</p>
          <p class="item-not-available">Not<br/>Available</p>
        </div>
        <div *ngIf="!this.show" class="working-hours">
          <div class="skeleton" style="width:35vw;height:26vw;margin-top:2vw;"></div>
        </div>
        <div *ngIf="this.show && this.getWorkingCharateristicObject()" class="working-characteristic">
          <p class="item-title">Working Characteristic</p>
          <ion-row>
            <ion-col class="indicator-col" col-auto *ngFor="let char of this.getWorkingCharateristicObject() | slice:0:3; let i = index">
              <div [ngStyle]="{'background-color':this.color[i],'margin-top':this.getMarginTop(char.value),'height':this.getHeight(char.value)}" class="indicator-div"></div>
              <p class="indicator-value">{{char.value}}</p>
              <p class="indicator-label">{{char.type}}</p>
            </ion-col>
            <ion-col col-auto *ngIf="this.getWorkingCharateristicObject().length > 3">
              <div class="view-detail" >
                <img src="assets/imgs/detail.png" class="img-detail">
                <p (click)="onClickViewDetail()">View Detail</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="this.show && !this.getWorkingCharateristicObject()" class="working-characteristic">
          <p class="item-title">Working Characteristic</p>
          <p class="item-not-available">Not<br/>Available</p>
        </div>
        <div *ngIf="!this.show" class="working-characteristic">
          <div class="skeleton" style="width:70vw;height:26vw;margin-top:2vw;"></div>
        </div>
      </ion-scroll>
    </ion-row>
  </div>
  <div ion-fixed *ngIf="this.show && this.model.operationStatus == 2" class="request-change-button" (click)="onClickRequestChange()">
    <ion-row>
      <img src="assets/imgs/service.png" class="img-request">
      <p>Change Unit Status</p>
    </ion-row>
  </div>
</ion-content>
