page-my-equipments-status-unit {
  .header-container{
    background: white;
    padding: 0 5vw 0 5vw;
    .header{
      height: 25vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
      }
      .title-container{
        display: flex;
        align-items: center;
        .title{
          font-family: 'SFProText-Semibold';
          margin: 0 0 0 -3vw;
          line-height: 1.5;
          font-size: 4vw;
        }
        .unit-type{
          font-family: 'SFProText-Regular';
          margin: 0 0 0 -3vw;
          font-size: 3vw;
        }
      }
    }
    .unit-status{
      border-radius: 3.7vw;
      padding: 2vw;
      width: 90vw;
      height: 19.7vw;
      // background-color: rgb(250, 237, 217);
      .status-icon{
        width: 12.5vw;
      }
      .status-content{
        margin-left: 2vw;
        .title{
          margin: 0;
          font-size: 4vw;
          color: rgb(152, 152, 152);
          font-family: 'SFUIText-Regular';
        }
        .status{
          margin: 0.5vw 0 0 0;
          font-size: 5.3vw;
          font-family: 'SFUIText-Bold';
        }
      }
      .show-detail{
        padding: 0;
        margin: 0;
        text-align:end;
        .show-button{
          width: 6vw;
          transform: rotate(180deg);
        }
        .show-text{
          margin: 0;
          font-size: 3.2vw;
          color: rgb(96, 96, 96);
          font-family: 'SFUIText-Medium';
        }
      }
    }
    .status-not-available{
      background-color: rgb(240, 240, 240);
    }
    .status-caution{
      background-color: #FFF4BC;
    }
    .status-operate{
      background-color: rgb(202, 240, 221);
    }
    .status-not-operate{
      background-color: rgb(231, 195, 200);
    }
  }
  .content{
    padding: 3vw 7vw 0 7vw;
    background-color: rgb(255, 255, 255);
    p{
      margin: 0;
      padding: 0;
    }
    .unit-image{
      margin-top: 3vw;
      .img-unit{
        width: 35vw;
      }
    }
    .transmit{
      padding: 2vw;
      .transmit-header{
        font-family: 'SFUIText-Semibold';
        color: rgb(89, 173, 36);
        font-size: 3.7vw;
        align-items: center;
        margin-bottom: 2.5vw;
        .green-dot{
          margin-right: 2.5vw;
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          background-color: rgb(89, 173, 36);
        }
        .grey-dot{
          margin-right: 2.5vw;
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          background-color: #858585;
        }
        .red-dot{
          margin-right: 2.5vw;
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          background-color: #E9445A;
        }
      }
      .transmit-title{
        font-family: 'SFUIText-Medium';
        color: rgb(154, 154, 154);
        font-size: 3.2vw;
        margin-top: 2.5vw;
      }
      .transmit-data{
        font-family: 'SFUIText-Medium';
        color: rgb(67, 67, 67);
        font-size: 3.2vw;
        margin: 1.5vw 0 1.5vw 0;
        align-items: center;
        .iconLocation{
          width: 3.5vw;
          height: 4.2vw;
          margin-right: 3vw;
        }
        .iconTime{
          width: 3.4vw;
          height: 3.4vw;
          margin-right: 3vw;
        }
        .iconCalendar{
          width: 3.4vw;
          height: 3.4vw;
          margin-right: 3vw;
        }
        .unit-location{
          color: rgb(50, 116, 235);
        }
      }
    }
    .serial-warranty{
      margin: 0;
      padding: 0;
    }
    .data-title{
      font-family: 'SFUIText-Medium';
      color: rgb(154, 154, 154);
      font-size: 3.2vw;
      margin-top: 2.2vw;
    }
    .data-value{
      font-size: 3.7vw;
      font-family: 'SFUIText-Bold';
    }
    .model-number{
      margin: 1vw 0 0.5vw 0;
      font-size: 6.1vw;
      font-family: 'SFUIText-Bold';
    }
    .warranty-notice{
      font-size: 3.2vw;
      font-family: 'SFUIText-Bold';
      color: rgb(90, 204, 77);
    }
    .smr{
      margin: 8vw 0 0 0;
      font-size: 3.8vw;
      color: rgb(120, 120, 120);
      font-family: 'SFUIText-Regular';
    }
    .smr-date{
      margin: 2.6vw 0 0 0;
      font-size: 3.8vw;
      color: rgb(120, 120, 120);
      font-family: 'SFUIText-Regular';
    }
    .orange-block{
      border-radius: 1.2vw;
      font-size: 2.5vw;
      font-family: 'SFUIText-Semibold';
      width: auto;
      height: 5.9vw;
      background-color: #FFD500;
      color: white;
      text-align:center;
      padding: 1.3vw 1.2vw 1.3vw 1.2vw;
      margin-right: 1.4vw;
    }
    ion-scroll[scrollX] {
      margin-top: 5.7vw;
      margin-right: -5vw;
      margin-left: -5vw;
      margin-bottom: 10vw;
      width: 200vw;
      height: 41vw;
      white-space: nowrap;
      .scroll-zoom-wrapper{
        display: flex;
      }
      .fuel-consumption{
        background: none;
        width: 36.9vw;
        height: 39.3vw;
        border-radius: 3.9vw;
        border-style: solid;
        border-color: rgb(240, 240, 240);
        border-width: 0.4vw;
        margin-left: 5vw;
        padding: 3.5vw;
        .item-not-available{
          margin-top: 9.5vw;
          font-size: 5.7vw;
          font-family: 'SFUIText-Bold';
          // line-height: 2.6vw;
          color: rgb(157, 157, 157);
        }
        .img-fuel{
          position: absolute;
          width: 16.9vw;
          height: 20.2vw;
          margin-top: 2.2vw;
        }
        .item-value{
          position: absolute;
          margin-left: 3.5vw;
          margin-top: 10vw;
          font-size: 5vw;
          color: rgb(29, 29, 29);
          font-family: 'SFUIText-Bold';
        }
      }
      .working-hours{
        margin-left: 5vw;
        background: none;
        width: 44.7vw;
        height: 39.3vw;
        border-radius: 3.9vw;
        border-style: solid;
        border-color: rgb(240, 240, 240);
        border-width: 0.4vw;
        padding: 3.5vw;
        ion-col{
          padding: 0;
        }
        .item-not-available{
          margin-top: 14vw;
          font-size: 5.7vw;
          font-family: 'SFUIText-Bold';
          // line-height: 2.6vw;
          color: rgb(157, 157, 157);
        }
        .total-hour-indicator{
          margin-top: 2vw;
          height: 11.5vw;
          width: 14.6vw;
          background-color: rgb(106, 105, 221);
          border-radius: 0.5vw;
        }
        .actual-hour-indicator{
          margin-top: 7.9vw;
          height: 5.6vw;
          width: 14.6vw;
          background-color: rgb(118, 214, 114);
          border-radius: 0.5vw;
        }
      }
      .working-characteristic{
        margin-left: 5vw;
        background: none;
        min-width: 81vw;
        height: 39.3vw;
        border-radius: 3.9vw;
        border-style: solid;
        border-color: rgb(240, 240, 240);
        border-width: 0.4vw;
        box-shadow: 0vw 1vw 2vw rgba(0, 0, 0, 0.121886);
        padding: 3.5vw;
        .item-not-available{
          margin-top: 14vw;
          font-size: 5.7vw;
          font-family: 'SFUIText-Bold';
          // line-height: 2.6vw;
          color: rgb(157, 157, 157);
        }
        .view-detail{
          position: absolute;
          padding-top: 5vw;
          text-align: end;
          font-size: 4vw;
          font-family: 'SFUIText-Regular';
          color: rgb(50, 115, 235);
          background-image: linear-gradient(90deg,rgba(255, 255, 255, 0) 0vw,rgb(255, 255, 255) 10vw);
          // background-color: rgb(255, 255, 255);
          width: 35vw;
          height: 26vw;
          margin-left: -18vw;
          .img-detail{
            width: 6.4vw;
          }
        }
      }
      .item-title{
        font-size: 3.3vw;
        font-family: 'SFUIText-Regular';
        color: rgb(85, 85, 85);
      }
      .indicator-col{
        width: 18vw;
      }
      .indicator-div{
        width: 14.6vw;
        border-radius: 0.5vw;
      }
      .indicator-value{
        margin-top: 2vw;
        font-size: 4.5vw;
        font-family: 'HelveticaNeue-Bold';
        color: rgb(29, 29, 29);
      }
      .indicator-label{
        overflow: hidden;
        margin-top: 0.5vw;
        font-size: 2.6vw;
        font-family: 'SFUIDisplay-Regular';
        color: rgb(29, 29, 29);
      }
    }
  }
  .skeleton{
    // background-image: linear-gradient(90deg, rgb(242,242,242) 0vw, rgb(250, 250, 250) 10vw, rgb(242,242,242) 20vw) !important;
    background-color: rgb(242,242,242) !important; // untuk yang yang tidak support gradient
    // animation: shine-lines 2s infinite linear !important;
    color: transparent !important; // jika perlu masukan text untuk ukuran
  }
  @keyframes shine-lines{
    0% {background-position: 0vw}
    100% {background-position: 90vw}
  }
  .request-change-button{
    position: fixed;
    top: 80vh;
    left: 7.5vw;
    width: 85vw;
    height: 16vw;
    background-color: rgb(190, 41, 39);
    border-radius: 2.4vw;
    font-size: 3.7vw;
    font-family: 'SFUIText-Semibold';
    color: white;
    .img-request{
      margin-top: 4.5vw;
      margin-left: 23vw;
      width: 6.9vw;
      height: 7.2vw;
    }
    p{
      margin-left: 2.3vw;
      margin-top: 5.5vw;
    }
  }

}
