modal-search{
  .searchbar-input {
    background: rgba(255, 255, 255, 0.59);
    .item-inner{
      height: 12vw;
      .input-search {
        top: 0;
        font-family: 'SFUIDisplay-Regular';
        font-size: 3.5vw;
        color: #767676;
        .text-input-md {
          margin-left: 1vw;
          padding: 0;
          width: 100%;
        }
      }
      .searchbar-label {
        .search-icon{
          width: 4vw;
        }
      } 
    }
  }
}