<ion-content no-padding style="background: white">
    <ion-item class="searchbar-input">        
        <ion-label class="searchbar-label">
          <img src="assets/imgs/icon search.png" class="search-icon">
        </ion-label>
        <ion-input [(ngModel)]="searchString" #input class="input-search" type="text" placeholder="Search" (keyup.enter)="onSearch()"></ion-input>
    </ion-item>
</ion-content>