<ion-content no-padding class="modal-page">
    <ion-row class="modal-header">
        <img src="assets/imgs/iconClose.png" class="close-btn" (click)="onClickCloseButton()"/>
        <p class="header-label">Sort by</p>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row>
                <p class="group-title">Last SMR Date</p>
            </ion-row>
        </ion-col>
        <ion-col col-12>
            <ion-row class="option-row">
                <div class="option-box" (click)="onClickSorted(1)" [ngClass]="this.sorted == 1 ? 'selected' : ''">Newest</div>
                <div class="option-box" (click)="onClickSorted(2)" [ngClass]="this.sorted == 2 ? 'selected' : ''">Oldest</div>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row>
                <p class="group-title">Last SMR Hour</p>
            </ion-row>
        </ion-col>
        <ion-col col-12>
            <ion-row class="option-row">
                <div class="option-box" (click)="onClickSorted(3)" [ngClass]="this.sorted == 3 ? 'selected' : ''">
                    <img src="assets/imgs/iconAscending.png" class="asc-icon">
                    Ascending
                </div>
                <div class="option-box" (click)="onClickSorted(4)" [ngClass]="this.sorted == 4 ? 'selected' : ''">
                    <img src="assets/imgs/iconDescending.png" class="asc-icon">
                    Descending
                </div>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row>
                <p class="group-title">Working Hour</p>
            </ion-row>
        </ion-col>
        <ion-col col-12>
            <ion-row class="option-row">
                <div class="option-box" (click)="onClickSorted(5)" [ngClass]="this.sorted == 5 ? 'selected' : ''">
                    <img src="assets/imgs/iconAscending.png" class="asc-icon">
                    Ascending
                </div>
                <div class="option-box" (click)="onClickSorted(6)" [ngClass]="this.sorted == 6 ? 'selected' : ''">
                    <img src="assets/imgs/iconDescending.png" class="asc-icon">
                    Descending
                </div>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row>
                <p class="group-title">Fuel Consumption</p>
            </ion-row>
        </ion-col>
        <ion-col col-12>
            <ion-row class="option-row">
                <div class="option-box" (click)="onClickSorted(7)" [ngClass]="this.sorted == 7 ? 'selected' : ''">
                    <img src="assets/imgs/iconAscending.png" class="asc-icon">
                    Ascending
                </div>
                <div class="option-box" (click)="onClickSorted(8)" [ngClass]="this.sorted == 8 ? 'selected' : ''">
                    <img src="assets/imgs/iconDescending.png" class="asc-icon">
                    Descending
                </div>
            </ion-row>
        </ion-col>
    </ion-row>
    <div>
        <button ion-button color="ut-yellow" class="btn-see-all" (click)="onClickApply()">Apply</button>
    </div>
</ion-content>