<ion-content no-padding class="modal-page">
    <ion-row class="modal-header">
        <img src="assets/imgs/iconClose.png" class="close-btn" (click)="onClickCloseButton()"/>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row class="option-row">
                <div class="option-box-order" (click)="onClickLocation('All Location')" [ngClass]="location == 'All Location' ? 'selected' : ''">
                    <img [src]="location == 'All Location' ? 'assets/imgs/checked.png' : 'assets/imgs/unchecked.png'" class="icon-checked">
                    &nbsp;&nbsp;All Location
                </div>
            </ion-row>
            <ion-row class="option-row">
                <div class="option-box-order" (click)="onClickLocation('Jakarta')" [ngClass]="location == 'Jakarta' ? 'selected' : ''">
                    <img [src]="location == 'Jakarta' ? 'assets/imgs/checked.png' : 'assets/imgs/unchecked.png'" class="icon-checked">
                    &nbsp;&nbsp;Jakarta
                </div>
            </ion-row>
            <ion-row class="option-row">
                <div class="option-box-order" (click)="onClickLocation('Bontang')" [ngClass]="location == 'Bontang' ? 'selected' : ''">
                    <img [src]="location == 'Bontang' ? 'assets/imgs/checked.png' : 'assets/imgs/unchecked.png'" class="icon-checked">
                    &nbsp;&nbsp;Bontang
                </div>
            </ion-row>
            <ion-row class="option-row">
                <div class="option-box-order" (click)="onClickLocation('Jambi')" [ngClass]="location == 'Jambi' ? 'selected' : ''">
                    <img [src]="location == 'Jambi' ? 'assets/imgs/checked.png' : 'assets/imgs/unchecked.png'" class="icon-checked">
                    &nbsp;&nbsp;Jambi
                </div>
            </ion-row>
            <ion-row class="option-row">
                <div class="option-box-order" (click)="onClickLocation('Jayapura')" [ngClass]="location == 'Jayapura' ? 'selected' : ''">
                    <img [src]="location == 'Jayapura' ? 'assets/imgs/checked.png' : 'assets/imgs/unchecked.png'" class="icon-checked">
                    &nbsp;&nbsp;Jayapura
                </div>
            </ion-row>
            <ion-row class="option-row">
                <div class="option-box-order" (click)="onClickLocation('Manado')" [ngClass]="location == 'Manado' ? 'selected' : ''">
                    <img [src]="location == 'Manado' ? 'assets/imgs/checked.png' : 'assets/imgs/unchecked.png'" class="icon-checked">
                    &nbsp;&nbsp;Manado
                </div>
            </ion-row>
            <ion-row class="option-row">
                <div class="option-box-order" (click)="onClickLocation('Medan')" [ngClass]="location == 'Medan' ? 'selected' : ''">
                    <img [src]="location == 'Medan' ? 'assets/imgs/checked.png' : 'assets/imgs/unchecked.png'" class="icon-checked">
                    &nbsp;&nbsp;Medan
                </div>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>