location-filter{
  .modal-page{
    background: white !important;
  }
  .modal-header{
    font-size: 5vw;
    font-family: 'SFUIDisplay-Bold';
    text-align: center;
    .close-btn{
        width: 4vw;
        position: absolute;
        top: 5vw;
        left: 5vw;
    }
    .header-label{
        text-align: center;
        width: 100%;
        margin: 5vw 0 0 0;
    }
  }
  .sort-group{
    margin: 8vw 5vw 3vw 5vw;
    ion-col{
      padding-left: 0;
    }
    p{
      margin: 0;
      padding: 0;
    }
    .group-title{
      font-size: 4.7vw;
      font-family: 'SFUIDisplay-Bold';
    }
    .option-box{
      border: 0.8vw solid #EEEEEE;
      border-radius: 19px;
      padding: 2.5vw 3vw 2vw 3vw;
      margin-right: 3vw;
      display: flex;
      align-items: center;
      width: 40vw;
      .asc-icon{
        width: 3.5vw;
      }
      .icon-checked{
        width: 7vw;
      }
    }
    .option-box-order{
      margin-top: 2vw;
      // border: 0.8vw solid #EEEEEE;
      border-radius: 19px;
      padding: 2.5vw 3vw 2vw 3vw;
      margin-right: 3vw;
      display: flex;
      align-items: center;
      font-size: 5vw;
      .asc-icon{
        width: 3.5vw;
      }
      .icon-checked{
        width: 7vw;
      }
    }
    .selected{
      // border: 0.8vw solid #F8DB46 !important;
      font-family: 'SFUIText-Semibold';
    }
  }
  .btn-see-all{
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: none;
    font-family: 'SFUIText-Semibold';
    border-radius: 3vw;
    height: 13vw;
    width: 90vw;
    font-size: 4vw;
    margin-left: 5vw;
  }
}