<ion-content no-padding class="modal-page">
    <ion-row class="modal-header">
        <img src="assets/imgs/iconClose.png" class="close-btn" (click)="onClickCloseButton()"/>
        <p class="header-label">Filter</p>
    </ion-row>
    <ion-row class="form">
        <ion-item-divider>
            <ion-label color="stacked-label" stacked>Sales Order Number</ion-label>
            <ion-input type="text" placeholder="Type Sales Order Number"></ion-input>
        </ion-item-divider>          
        <ion-item-divider>
            <ion-label color="stacked-label" stacked>Purchase Order Number</ion-label>
            <ion-input type="text" placeholder="Type Purchase Order Number"></ion-input>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label color="stacked-label" stacked>Part Number</ion-label>
            <ion-input type="text" placeholder="Type Part Number"></ion-input>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label color="stacked-label" stacked>Part Description</ion-label>
            <ion-input type="text" placeholder="Type Part Description"></ion-input>
        </ion-item-divider>
    </ion-row>
    <div class="search-button">
        <button ion-button color="ut-yellow" class="btn-see-all" (click)="onClickApply()">Send</button>
    </div>
</ion-content>