my-equipments-status-modal{
  .modal-page{
    background: white !important;
  }
  .modal-header{
      font-size: 5vw;
      font-family: 'SFUIDisplay-Bold';
      text-align: center;
      .close-btn{
          width: 5vw;
          position: absolute;
          top: 6vw;
          left: 5vw;
      }
      .header-label{
          text-align: center;
          width: 100%;
          margin: 5vw 0 0 0;
      }
  }

  .my-equipments-status-title {
    margin-top: 10vw;
    margin-left: 3vw;
  }

  .status-title {
    background-color:  rgb(248, 206, 70);
    padding: 3.5vw 6vw 3.5vw 6vw;
    font-family: 'SFUIText-Bold';
    border-radius: 7vw;
    font-size: 3.5vw;
    margin-top: 8vw;
    letter-spacing: 0.5vw;
    width: 45vw;
  }

  .status-question {
    margin-top: 1vw;
    padding: 4vw;
    font-family: 'SFUIDisplay-Bold';
    font-size: 6vw;
  }
  
  .status-explanation {
    padding: 4vw;
    font-family: 'SFUIText-Light';
    font-size: 5vw;
    margin-top: -10vw;
  }
}