<ion-content no-padding class="modal-page">
    <ion-row class="modal-header">
        <img src="assets/imgs/iconClose.png" class="close-btn" (click)="onClickCloseButton()"/>
    </ion-row>
    <ion-row>
        <ion-col col-4 class=my-equipments-status-title>
            <ion-badge primary [style.background-color]="'rgb(255,213,0)'" class="status-title" *ngIf="selected == 'UNIT CAUTION'">UNIT CAUTION</ion-badge>
            <ion-badge primary [style.background-color]="'rgb(77,204,140)'" class="status-title" *ngIf="selected == 'OPERATE'">OPERATE</ion-badge>
            <ion-badge primary [style.background-color]="'rgb(233,68,90)'" class="status-title" *ngIf="selected == 'NOT OPERATE'">NOT OPERATE</ion-badge>
            <ion-badge primary [style.background-color]="'rgb(125,125,125)'" class="status-title" *ngIf="selected == 'NOT AVAILABLE'">NOT AVAILABLE</ion-badge>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>
          <p class="status-question">What {{selectedTitle}} Means?</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10 class=my-equipments-status-explanation>
        <p class="status-explanation" *ngIf="selected == 'UNIT CAUTION'">A unit that has abnormalities for more than 5 consecutive days</p>
        <p class="status-explanation" *ngIf="selected == 'OPERATE'">A unit that operated normally.</p>
        <p class="status-explanation" *ngIf="selected == 'NOT OPERATE'">A unit that has possibility stand by or breakdown.</p>
        <p class="status-explanation" *ngIf="selected == 'NOT AVAILABLE'">A unit not equipped with Komtrax.</p>
      </ion-col>
    </ion-row>
</ion-content>