page-my-orders-write-summary {
  .page{
    background: white;
  }

  .header-container{
    padding: 0;
    .header{
      padding: 0vw 5vw 0vw 5vw;
      padding-top: 5vw;
      padding-bottom: 1vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
      }
      .title-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .status-title {
          font-family: 'SFProText-Semibold';
          font-size: 4.5vw;
        }
      }
    }
  }  

  .stars-container{
    display: flex;
    justify-content: center;
    height: 10vw;
    .star-icon{
      display: inline;
      width: 6vw;
      margin-left: 3vw;
      object-fit: scale-down;
    }
  }

  .review-label{
    display: flex;
    justify-content: center;
    p{
      color: #BABABA;
      margin: 0;
      font-size: 3vw;
    }
  }

  .form{
    margin-top: 4vw;
    .item-divider-md, .item-divider-ios {
      padding-left: 0;
      padding-bottom: 2vw;
      margin-left: 5vw;
      width: 90vw;
      border-bottom: 0.1vw solid #D3D3D3;
      font-size: 3.5vw;
      color: #D8D8D8;
      background-color: #fff;
      .input-review{
        margin-top: 3vw;
      }
    }
    .text-input-md, .text-input-ios{
      color: black;
    }
  }
  
  .btn-send{
    color: map-get($colors, ut-yellow);
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
    margin-top: 5vw;
    p{
      font-size: 4vw;
      font-family: 'SFProText-Regular';
    }
  }
}