<ion-content fullscreen no-padding #myContent class="page">
  <div class="header-container">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickGoBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <div class="status-header">
          <p class="status-title">Write a Review</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="stars-container">
      <img [src]="rating < 1 ? 'assets/imgs/star.png' : 'assets/imgs/star-filled.png'" class="star-icon" (click)="onClickRating(1)">
      <img [src]="rating < 2 ? 'assets/imgs/star.png' : 'assets/imgs/star-filled.png'" class="star-icon" (click)="onClickRating(2)">
      <img [src]="rating < 3 ? 'assets/imgs/star.png' : 'assets/imgs/star-filled.png'" class="star-icon" (click)="onClickRating(3)">
      <img [src]="rating < 4 ? 'assets/imgs/star.png' : 'assets/imgs/star-filled.png'" class="star-icon" (click)="onClickRating(4)">
      <img [src]="rating < 5 ? 'assets/imgs/star.png' : 'assets/imgs/star-filled.png'" class="star-icon" (click)="onClickRating(5)">
    </ion-row>
    <ion-row class="review-label">
      <p>Tap a Star to Rate</p>
    </ion-row>
  </div>
  <ion-row class="form">
    <ion-item-divider>
      <ion-label color="black" stacked>Title</ion-label>
      <ion-input type="text" placeholder="Type Title"></ion-input>
    </ion-item-divider>          
    <ion-item-divider class="input-review">
      <ion-label color="black" stacked>Review</ion-label>
      <ion-input type="text" placeholder="Type Review (Optional)"></ion-input>
    </ion-item-divider>
  </ion-row>
  <ion-row class="btn-send">
    <p (click)="onClickGoBack()">Send</p>
  </ion-row>
</ion-content>