<ion-content padding class="page">
  <ion-row class="header">
    <p>Others</p>
  </ion-row>
  <ion-row>
    <ion-list>
      <ion-item class="item">
        <img src="assets/imgs/interbranch.png" class="icon" item-start/>
        <ion-label>Interbranch</ion-label>
      </ion-item>
      <ion-item class="item">
        <img src="assets/imgs/pendingComisioning.png" class="icon" item-start/>
        <ion-label>Pending Commissioning</ion-label>
      </ion-item>
      <ion-item class="item">
        <img src="assets/imgs/icon request change.png" class="icon" item-start/>
        <ion-label>Request Change</ion-label>
      </ion-item>
      <ion-item class="item">
        <img src="assets/imgs/icon videos.png" class="icon" item-start/>
        <ion-label>Video</ion-label>
      </ion-item>
      <ion-item class="item">
        <img src="assets/imgs/icon settings.png" class="icon" item-start/>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>
