page-others {

  .page{
    background-color:	#ffffff;
    padding: 5vw !important;
  }

  .content{
    font-family: 'SFProText-Regular';
  }

  .item{
    padding-left: 5vw !important;
    .icon{
      width: 10vw;
    }
    ion-label{
      font-size: 4vw;
      font-family: 'SFProText-Regular';
      margin-left: 1vw;
    }
  }

  .header{
    padding-left: 5vw;
    color: rgb(235, 204, 78);
    font-family: 'SFUIDisplay-Bold';
    p{
      font-size: 8vw;
      margin-top: 10vw;
      margin-bottom: 5vw;
    }
  }
}
