<ion-content padding class="page" no-padding>
  <div class="header-container">
    <div class="header">
      <ion-row>
        <ion-col col-5 class="profile-container">
            <!-- <img src="assets/imgs/profile.png" class="profile-pic"/> -->
        </ion-col>
        <ion-col col-7 class="logo-container" (click)="openMap()">
          <img src="assets/imgs/logoUnitedTractor.png" class="ut-logo"/>
        </ion-col>
      </ion-row>
    </div>
    <div class="my-equipments">
      <ion-row class="my-equipments-header">
        <ion-item class="searchbar-input" (click)="onClickSearch()">        
            <ion-label class="searchbar-label">
              <img src="assets/imgs/icon search.png" class="search-icon">
            </ion-label>
            <ion-input class="input-search" type="text" placeholder="Search" disabled></ion-input>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-7>
                {{ sliderStatus == 0 ? 'My Equipments' : sliderStatus == 1 ? 'Shortcut' : '&nbsp;'}}
            </ion-col>
            <ion-col col-5 style="display: flex; justify-content: flex-end; align-items: center">
                <div class="location-filter-div" (click)="onClickLocationFilter()">
                    {{selectedLocation}}&nbsp;
                    <img src="assets/imgs/iconDropDown.png" class="icon-drop">
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
      <ion-slides pager #mySlider [style.height]="this.model.equipments.length < 4 ? '35vw' : '75vw'">
        <ion-slide>
          <ion-row class="my-equipments-content">
            <ion-col *ngIf="getByBrand('KOMATSU') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('KOMATSU')">
              <ion-card class="my-equipments-card" no-margin>
                <ion-row class="error-container">
                  <div *ngIf="getByBrand('KOMATSU') > 0" class="error"></div>
                </ion-row>
                <ion-row class="brand-container">
                  <img src="assets/imgs/logoKomatsu.png" class="brand-logo2">
                </ion-row>
                <ion-row>
                  <p class="unit-count">{{getByBrand('KOMATSU')}}</p>
                </ion-row>
                <ion-row>
                    <p class="label-units">Units</p>
                </ion-row>
              </ion-card>
            </ion-col>
            <ion-col *ngIf="getByBrand('UDTRUCK') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('UDTRUCK')">
              <ion-card class="my-equipments-card" no-margin>
                <ion-row class="error-container">
                  <div *ngIf="getByBrand('UDTRUCK') > 0" class="error"></div>
                </ion-row>
                <ion-row class="brand-container">
                  <img src="assets/imgs/udTrucksLogo.png" class="brand-logo">
                </ion-row>
                <ion-row>
                  <p class="unit-count">{{getByBrand('UDTRUCK')}}</p>
                </ion-row>
                <ion-row>
                  <p class="label-units">Units</p>
                </ion-row>
              </ion-card>
            </ion-col>
            <ion-col *ngIf="getByBrand('SCANIA') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('SCANIA')">
              <ion-card class="my-equipments-card" no-margin>
                <ion-row class="error-container">
                  <div *ngIf="getByBrand('SCANIA') > 0" class="error"></div>
                </ion-row>
                <ion-row class="brand-container">
                  <img src="assets/imgs/logoScania.png" class="brand-logo">
                </ion-row>
                <ion-row>
                  <p class="unit-count">{{getByBrand('SCANIA')}}</p>
                </ion-row>
                <ion-row>
                    <p class="label-units">Units</p>
                </ion-row>
              </ion-card>
            </ion-col>
            <ion-col *ngIf="getByBrand('BOMAG') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('BOMAG')">
              <ion-card class="my-equipments-card" no-margin>
                <ion-row class="error-container">
                  <div *ngIf="getByBrand('BOMAG') > 0" class="error"></div>
                </ion-row>
                <ion-row class="brand-container">
                  <img src="assets/imgs/bomagLogo.png" class="brand-logo">
                </ion-row>
                <ion-row>
                  <p class="unit-count">{{getByBrand('BOMAG')}}</p>
                </ion-row>
                <ion-row>
                    <p class="label-units">Units</p>
                </ion-row>
              </ion-card>
            </ion-col>
            <ion-col *ngIf="getByBrand('TADANO') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('TADANO')">
              <ion-card class="my-equipments-card" no-margin>
                <ion-row class="error-container">
                  <div  *ngIf="getByBrand('TADANO') > 0" class="error"></div>
                </ion-row>
                <ion-row class="brand-container">
                  <img src="assets/imgs/tadanoCompanyLogo.png" class="brand-logo3">
                </ion-row>
                <ion-row>
                  <p class="unit-count">{{getByBrand('TADANO')}}</p>
                </ion-row>
                <ion-row>
                    <p class="label-units">Units</p>
                </ion-row>
              </ion-card>
            </ion-col>
            <ion-col *ngIf="getByBrand('') > 0" col-4 class="my-equipments-col" (click)="onClickEquipment('ALL')">
              <ion-card class="my-equipments-card" no-margin>
                <ion-row class="error-container">
      
                </ion-row>
                <ion-row class="brand-container">
                  <img src="assets/imgs/iconAll.png" class="brand-logo">
                </ion-row>
                <ion-row>
                  <p class="unit-count">{{getByBrand('')}}</p>
                </ion-row>
                <ion-row>
                  <p class="label-units">All Units</p>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide> 
          <ion-row class="shortcut-container">
            <ion-col col-4 class="shortcut-col" (click)="onClickEquipment('KOMATSU')">
              <ion-card class="shortcut-card" no-margin>
                <ion-row class="shortcut-icon">
                  
                </ion-row>
                <ion-row>
                  
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <p class="my-order-title">My Order</p>
  <ion-card class="my-tickets-container" (click)="onClickAddTicket()">
    <ion-row class="my-tickets-content">
      <ion-col col-4 class="order-items">
        <img src="assets/imgs/order.png" class="my-order-logo">
        <div class="open-order-section">
          <p class="my-order-label">My Order</p>
          <p class="my-order-items-count">30</p>
          <p class="my-order-items">Items</p>
        </div>
      </ion-col>
      <ion-col col-5 class="open-order">
        <div class="closed-order-section">
          <p class="my-order-label-openorder">Open <br />Order</p>
          <p class="my-order-label-openorder-count"><b>24</b></p>
        </div>
      </ion-col>
      <ion-col col-3 class="closed-order">
        <p class="my-order-label-closedorder">Closed <br />Order</p>
        <p class="my-order-label-closedorder-count"><b>6</b></p>
      </ion-col>
    </ion-row>
  </ion-card>

  <div class="timefeed">
    <ion-row class="timeline-header">
      Timeline Feed &nbsp;&nbsp;
      <img src="assets/imgs/nextButtonLight.png" class="next-button"/>
    </ion-row>
    <div class="timeline-content">
      <timeline endIcon="call" [items]="model.timeline"></timeline>
    </div>
    <div>
        <button ion-button color="ut-yellow" class="btn-see-all">See All Timeline</button>
    </div>
  </div>
</ion-content>
