page-home {

  .page{
    padding: 0px !important;
  }

  .header-container{
    background-image: url('../../assets/imgs/background.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    padding: 0;
    .header{
      padding-top: 7vw;
      margin-left: 5vw;
      margin-right: 5vw;
      .logo-container{
        display: flex;
        align-items: center;
        .ut-logo{
          text-align: end;
          width: 50vw;
        }
      }
      .profile-container{
        text-align: start;
        .profile-pic{
          text-align: left;
          width: 9vw;
        }
      }
    }
    .my-equipments{
      margin-top: 15vw;
      margin-left: 4vw;
      margin-right: 4vw;
      .location-filter-div{
        font-size: 4vw;
        .icon-drop{
          width: 3.5vw;
        }
      }
      .searchbar-input {
        position: absolute;
        width: 90vw;
        // height: 36px;
        left: 5vw;
        top: 20vw;
        font-family: 'SFProText-Regular';
        font-weight: 600;
        border-radius: 1.5vw;
        border-bottom: white;
        height: 9vw !important;
        padding-top: 0vw;
        padding-left: 3.5vw;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.59);
        .text-input[disabled] {
          opacity: 1;
        }
      }
      .input-search {
        font-family: 'SFUIDisplay-Regular';
        line-height: 16px;
        font-size: 3.5vw;
        color: #767676;
      }
      .searchbar-label {
        font-size: 3.5vw;
        margin-right: 1vw;
        .search-icon{
          width: 4vw;
          margin-top: 1vw;
        }
      }
      ion-slides {
        display: block;
        width: 100%;
        height: 75vw;
        .slide-zoom {
          text-align: center;
          display: block;
          width: 100%;
          margin-top: -10vw;
        }
      }
      .my-equipments-header{
        display: flex;
        align-items: center;
        font-family: 'SFUIDisplay-Bold';
        font-size: 6vw;
        margin-left: 1vw;
        .icon-search{
          position: absolute;
          right: 6vw;
          width: 5vw;
        }
      }
      .my-equipments-content{
        margin-top: 3vw;
        height: 60vw;
        .my-equipments-col{
          .my-equipments-card{
            box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
            border-radius: 3.5vw;
            width: 100%;
            height: 28vw;
            .error-container{
              height: 2vw;
              .error{
                position: absolute;
                right: 3vw;
                top: 4vw;
                height: 2vw;
                width: 2vw;
                background-color: red;
                border-radius: 50%;
              }
            }
            .brand-container{
              padding: 3vw;
              .brand-logo{
                text-align: left;
                object-fit: contain;
                width: auto;
                height: 5vw;
              }
              .brand-logo2{
                text-align: left;
                object-fit: contain;
                width: auto;
                height: 3vw;
              } 
              .brand-logo3{
                text-align: left;
                object-fit: contain;
                width: auto;
                height: 4vw;
              } 
              .others{
                text-align: left;
                object-fit: contain;
                width: auto;
                height: 6.5vw;
              } 
            }
            .unit-count{
              position: absolute;
              bottom: 25%;
              font-size: 6vw;
              line-height: 1.3;
              font-weight: 900;
              margin-left: 3vw;
              color: #1c1c1c;
            }
            .label-units{
              position: absolute;
              bottom: 15%;
              font-size: 3vw;
              line-height: 1;
              margin-left: 3vw;
              font-weight: 600;
              color: rgb(152, 152, 152);
            }
          }
        }
      }
      .shortcut-container{
        margin-top: 3vw;
        height: 60vw;
        .shortcut-col{
          .shortcut-card{
            box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
            border-radius: 3.5vw;
            width: 100%;
            height: 28vw;
            .error-container{
              height: 2vw;
              .error{
                position: absolute;
                right: 3vw;
                top: 4vw;
                height: 2vw;
                width: 2vw;
                background-color: red;
                border-radius: 50%;
              }
            }
            .brand-container{
              padding: 3vw;
              .brand-logo2{
                text-align: left;
                object-fit: contain;
                width: auto;
                height: 5vw;
              }
            }
            .label{
              font-size: 3vw;
              line-height: 1;
              margin-left: 3vw;
              font-weight: 600;
              color: rgb(152, 152, 152);
            }
          }
        }
      }
    }
  }

  .next-button{
    width: 6.5vw;
  }
  
  .my-tickets-container{
    box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
    border-radius: 1.5vw;
    padding: 3vw;
    padding: 0px !important;
    margin-left: 5vw;
    width: 90vw;
    height: 30vw;
    .my-tickets-content{
      height: 30vw;
      .my-tickets-caption{
        .my-tickets-img{
          width: 8vw;
          position: absolute;
          left: 20%;
          top: 15%;
        }
        .my-tickets-order{
          position: absolute;
          bottom: 30%;
          left: 20%;
          font-size: 3vw;
        }
        .my-tickets-items{
          position: absolute;
          bottom: 5%;
          left: 20%;
          display: flex;
          align-items: center;
          .my-tickets-count{
            font-size: 5vw;
            font-family: 'SFUIDisplay-Bold';
            color: black;
          }
          .items{
            color: rgb(152, 152, 152);
            font-size: 3vw;
          }
        }
      }
      .ticket-background{
        background-image: url('../../assets/imgs/group6.png');
        background-repeat: no-repeat;
        background-size: 70vw;
        object-fit: scale-down;
      }
    }
  }
  .my-order-title {
    color: #030303;
    font-size: 6vw;
    font-family: 'SFUIDisplay-Bold';
    margin:  0 0 0 5vw;
  }

  .timefeed{
    margin-top: 10vw; 
    padding-right: 4vw; 
    padding-left: 4vw; 
    padding-top:7vw;
    padding-bottom: 7vw; 
    background: #ffffff;
    width: 100%;
    .timeline-header{
      display: flex;
      align-items: center;
      font-family: 'SFUIDisplay-Bold';
      font-size: 5.5vw;
      margin: 0;
      padding-left: 0;
    }
    .btn-next-timeline{
      padding-right: 0px;
    }
    .timeline-content{
      padding-left: 2vw;
      padding-right: 2vw;
      margin-top: 5vw;
    }
    .btn-see-all{
      -webkit-box-shadow: none;
      box-shadow: none;
      text-transform: none;
      font-family: 'SFUIText-Semibold';
      border-radius: 3vw;
      height: 13vw;
      width: 90vw;
      font-size: 4vw;
    }
  }
  .my-order-logo {
    margin-top: 1vw;
    width: 7vw;
    margin-left: 1vw;
  }
  .my-order-label {
    font-size: 3.5vw;
    font-family: 'SFUIDisplay-Regular';
    color: black;
    margin-left: 1vw;
  }
  .my-order-items {
    margin-top: -1vw;
    margin-left: 1vw;
    color: #989898;
    font-size: 3vw;
  }
  .my-order-items-count {
    margin-top: -1vw;
    font-family: 'SFUIText-Bold';
    color: black;
    font-size: 5vw;
    margin-left: 1vw;
  }
  .open-order {
    background: map-get($colors, ut-yellow);
    .my-order-label-openorder{
      position: absolute;
      top: 8vw;
      left: 7%;
      font-size: 3vw;
      color: #FFFFFF;
      transform: rotate(-90deg);
    }
    .my-order-label-openorder-count {
      position: absolute;
      bottom: 0;
      left: 5%;
      font-size: 8vw;
      color: #FFFFFF;
    }
  }
  .closed-order {
    background: #76D672;
    .my-order-label-closedorder{
      position: absolute;
      top: 8vw;
      left: 5%;
      font-size: 3vw;
      color: #FFFFFF;
      transform: rotate(-90deg);
    }
    .my-order-label-closedorder-count {
      position: absolute;
      bottom: 0;
      left: 10%;
      font-size: 8vw;
      color: #FFFFFF;
    }
  }

  .swiper-pagination {
    padding: 3px;
    bottom:0px;
    .swiper-pagination-bullet {
      width: 2vw;
      height: 2vw;
    }
    .swiper-pagination-bullet-active {
      background: map-get($colors, ut-yellow);
      width: 2vw;
      height: 2vw;
      margin: 0 3px;
    }
  }
}

.item-ios.item-block .item-inner {
  border-bottom: white;
}
.item-md.item-block .item-inner {
  border-bottom: none;
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: white;
  box-shadow: none;
}
.input-cover {
  border-bottom: none;
}

.item {
  min-height: 10vw;
}