@font-face {
    font-family: 'SFUIText-Regular';
    src: url('../assets/fonts/myFont/SFUIText-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText-RegularItalic';
    src: url('../assets/fonts/myFont/SFUIText-RegularItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText-MediumItalic';
    src: url('../assets/fonts/myFont/SFUIText-MediumItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText-LightItalic';
    src: url('../assets/fonts/myFont/SFUIText-LightItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText-HeavyItalic';
    src: url('../assets/fonts/myFont/SFUIText-HeavyItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText-BoldItalic';
    src: url('../assets/fonts/myFont/SFUIText-BoldItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Ultralight';
    src: url('../assets/fonts/myFont/SFUIDisplay-Ultralight.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Thin';
    src: url('../assets/fonts/myFont/SFUIDisplay-Thin.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Semibold';
    src: url('../assets/fonts/myFont/SFUIDisplay-Semibold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Medium';
    src: url('../assets/fonts/myFont/SFUIDisplay-Medium.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Light';
    src: url('../assets/fonts/myFont/SFUIDisplay-Light.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Heavy';
    src: url('../assets/fonts/myFont/SFUIDisplay-Heavy.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText-Light';
    src: url('../assets/fonts/myFont/SFUIText-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText-Heavy';
    src: url('../assets/fonts/myFont/SFUIText-Heavy.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Bold';
    src: url('../assets/fonts/myFont/SFUIDisplay-Bold.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText-Semibold';
    src: url('../assets/fonts/myFont/SFUIText-Semibold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText-SemiboldItalic';
    src: url('../assets/fonts/myFont/SFUIText-SemiboldItalic.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText-Bold';
    src: url('../assets/fonts/myFont/SFUIText-Bold.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText-Regular';
    src: url('../assets/fonts/myFont/SFProText-Regular.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
  font-family: 'SFProText-Semibold';
  src: url('../assets/fonts/myFont/SFProText-Semibold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../assets/fonts/myFont/HelveticaNeue-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }

@font-face {
    font-family: 'SFUIDisplay-Regular';
    src: url('../assets/fonts/myFont/SFUIDisplay-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText-Medium';
    src: url('../assets/fonts/myFont/SFUIText-Medium.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Black';
    src: url('../assets/fonts/myFont/SFUIDisplay-Black.otf');
    font-weight: normal;
    font-style: normal;
}
