.tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    background: #ffffff !important;
    .tab-button-icon {
        background-repeat:no-repeat;
        background-position:center;
        height: 5.8vw;
        width: 5.8vw;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
  &:before {
    display:none;
  }
}

.tabs-ios {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=custom-home], .tab-button-icon[aria-label="custom-home"] {
      background-image: url('./assets/imgs/iconHomeNonActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-equip], .tab-button-icon[aria-label="custom-equip"] {
      background-image: url('./assets/imgs/iconEquipmentNonActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-order], .tab-button-icon[aria-label=custom-order] {
      background-image: url('./assets/imgs/iconOrderNonActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-notification], .tab-button-icon[aria-label=custom-notification] {
      background-image: url('./assets/imgs/iconNotificationNonActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-other], .tab-button-icon[aria-label=custom-other] {
      background-image: url('./assets/imgs/iconOtherNonActive.png');
    }
  }
 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=custom-home], .tab-button-icon[aria-label=custom-home] {
      background-image: url('../assets/imgs/iconHomeActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-equip], .tab-button-icon[aria-label=custom-equip] {
      background-image: url('../assets/imgs/iconEquipmentActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-order], .tab-button-icon[aria-label=custom-order] {
      background-image: url('../assets/imgs/iconOrderActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-notification], .tab-button-icon[aria-label=custom-notification] {
      background-image: url('../assets/imgs/iconNotificationActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-other], .tab-button-icon[aria-label=custom-other] {
      background-image: url('../assets/imgs/iconOtherActive.png');
    }
  }
}

.tabs-md {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=custom-home], .tab-button-icon[aria-label="custom-home"] {
      background-image: url('../assets/imgs/iconHomeNonActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-equip], .tab-button-icon[aria-label="custom-equip"] {
      background-image: url('../assets/imgs/iconEquipmentNonActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-order], .tab-button-icon[aria-label=custom-order] {
      background-image: url('../assets/imgs/iconOrderNonActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-notification], .tab-button-icon[aria-label=custom-notification] {
      background-image: url('../assets/imgs/iconNotificationNonActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-other], .tab-button-icon[aria-label=custom-other] {
      background-image: url('../assets/imgs/iconOtherNonActive.png');
    }
  }
 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=custom-home], .tab-button-icon[aria-label=custom-home] {
      background-image: url('../assets/imgs/iconHomeActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-equip], .tab-button-icon[aria-label=custom-equip] {
      background-image: url('../assets/imgs/iconEquipmentActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-order], .tab-button-icon[aria-label=custom-order] {
      background-image: url('../assets/imgs/iconOrderActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-notification], .tab-button-icon[aria-label=custom-notification] {
      background-image: url('../assets/imgs/iconNotificationActive.png');
    }
    .tab-button-icon[ng-reflect-name=custom-other], .tab-button-icon[aria-label=custom-other] {
      background-image: url('../assets/imgs/iconOtherActive.png');
    }
  }
}