// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$text-input-highlight-color-valid:transparent;
$text-input-highlight-color-invalid:transparent;
$text-input-placeholder-color: #C8C8C8;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  yellow:     #ECD75D,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  black:      #000000,
  gray: 	    #F1F1F1,
  button-outline: #C8C8C8,
  ut-yellow: #FFD500,
  stacked-label: #8E8E8E
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-tab-font-size: 3vw;
$tabs-ios-tab-text-color-active: rgb(253, 217, 3);
$tabs-ios-tab-padding-top: 0;
$label-ios-text-color-focused: #000000;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$tabs-md-tab-font-size: 3vw;
$tabs-md-tab-text-color-active: rgb(253, 217, 3);
$tabs-md-tab-padding-top: 0;
$label-md-text-color-focused: #000000;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
$background-ios-color: rgb(242, 242, 244);
$background-md-color: rgb(242, 242, 244);

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import '../theme/fonts.scss';

$font-family-base: "SFUIText-Regular";
$font-family-md-base: "SFUIText-Regular";
$font-family-ios-base: "SFUIText-Regular";
$font-family-wp-base: "SFUIText-Regular";