modal-forgot-password {
  .page{
    background-color:	white;
    .header{
      padding: 5vw;
      border-bottom: 0.7vw solid rgba(211, 211, 211, 0.37);
      p{
        margin: 0 !important;
        font-family: 'SFUIDisplay-Thin';
        font-size: 5vw;
        color: #6D6D6D;
      }
    }
    .item-divider-md, .item-divider-ios {
      padding-left: 0;
      padding-bottom: 2vw;
      margin-left: 5vw;
      width: 90vw;
      border-bottom: 0.1vw solid #D3D3D3;
      font-size: 3.5vw;
      color: #CACACE;
      background-color: #fff;
      margin-bottom: 2vw;
    }
    .text-input-md, .text-input-ios{
      color: black;
    }
    .title{
      padding-left: 5vw;
      p{
        font-family: 'SFUIDisplay-Bold';
        font-size: 7vw;
      }
    }
    .detail{
      width: 90vw;
      margin-left: 5vw;
      p{
        font-family: 'SFUIDisplay-Thin';
        line-height: 1.5;
      }
    }
    .send{
      position: absolute;
      right: 5vw;
      p{
        color: #C2A100;
        font-size: 5vw;
      }
    }
  } 
}