<ion-content padding class="page">
  <ion-row class="header">
    <p (click)="onClickCancel()">Cancel</p>
  </ion-row>
  <ion-row class="title">
    <p>Forgot your password?</p>
  </ion-row>
  <ion-row class="detail">
    <p>Enter your email below to receive your password reset instruction</p>
  </ion-row>
  <ion-row class="form">
    <ion-item-divider>
      <ion-label color="stacked-label" stacked>EMAIL</ion-label>
      <ion-input type="email" placeholder="Enter Email Address" [(ngModel)]="email"></ion-input>
    </ion-item-divider>  
  </ion-row>
  <ion-row class="send">
    <p>Send</p>
  </ion-row>
</ion-content>
