// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/fonts.scss';
@import '../theme/tabs.scss';

ion-app.md [padding] .scroll-content, ion-app.ios [padding] .scroll-content {
  padding: 0;
}

.modal-equipments {
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 45%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 55%;
    background: linear-gradient(white, rgb(242, 242, 244));
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}

.modal-equipment-status {
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 50%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}

.modal-search {
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 20vw;
    left: 5vw;
    position: absolute;
    width: 90vw;
    height: 12vw;
    border-radius: 1.5vw;
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}
  
.modal-equipment-status {
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 50%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}

.modal-equipment-sort {
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 25%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 75%;
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}

.modal-orders-sort {
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 35%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 65%;
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}

.modal-orders-email {
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 25%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 75%;
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}

.modal-forgot-password {
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 5%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 95%;
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}

.modal-order-available{
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 25%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 75%;
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}

.modal-order-outstanding{
  ion-backdrop {
    visibility: visible !important;
  }
  .modal-wrapper {
    overflow: hidden;
    top: 15%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 85%;
    box-shadow: 0vw -3vw 10vw rgba(0,0,0,0.03);
  }
}

.snackbar{
  .toast-wrapper{
    width: 98vw;
    height: auto;
    left: 1vw;
    right: 1vw;
    padding: 2vw;
    text-align: center;
    .toast-message{
      word-break: break-word;
      padding: 0 2vw 0 2vw;
      font-size: 3.5vw;
    }
    .toast-button {
      padding: 0 5vw 0 0;
      font-size: 3.5vw;
    }
  }
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}