<ion-header>
  <ion-row style="height: 20vw; padding: 5vw; background: white;">
    <ion-col col-2 style="display: flex; align-items: center;" no-padding>
      <img src="assets/imgs/buttonBack.png" style="width: 7vw; height: 7vw;" (click)="onClickBack()">
    </ion-col>
    <ion-col col-8 style="display: flex; align-items: center; justify-content: center;" no-padding>
      <ion-grid no-padding>
          <p style="font-family: 'SFProText-Semibold';
          line-height: 1.5;
          width: 100%;
          text-align: center;
          font-size: 4.5vw;">{{this.brandName}}</p>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content no-padding>
  <div #map id="map" style="height: 100%"></div>
  <div style="position: absolute; 
  bottom: 10%; 
  z-index: 99999; 
  width: 100vw;">
  <ion-card style="border-radius: 2vw; margin: 0vw 7vw 0vw 7vw; width: 86vw; padding: 0vw 5vw 0vw 5vw; box-shadow: none !important; height: 30vw;">
    <ion-row>
      <ion-col col-5>
        <img src="assets/imgs/excavator.png">
      </ion-col>
      <ion-col col-7 style="display: flex; align-items: center; justify-content: center;">
        <ion-grid>
          <ion-row>
            <p style="font-family: 'SFUIText-Bold'; font-size: 3.7vw;">{{this.modelNumber}}</p>
          </ion-row>
          <ion-row>
            <p style="font-family: 'SFUIText-Regular'; font-size: 3.2vw; color: rgb(154, 154, 154); margin-top: 1vw; line-height: 1;">Serial Number</p>
          </ion-row>
          <ion-row>
            <p style="font-family: 'SFUIText-Medium'; font-size: 3.7vw;">{{this.serialNumber}}</p>
          </ion-row>
        </ion-grid>
        <img src="assets/imgs/rectangle.png" style="width: 3vw; position: absolute; top: 2.5vw; right: -2vw;">
      </ion-col>
    </ion-row>
  </ion-card>
</div>
</ion-content>