page-my-equipments {
  .header{
    height: 25vw;
    .header-btn-container{
      display: flex;
      align-items: center;
      .btn-back{
        width: 7vw;
        height: 7vw;
      }
    }
    .title-container{
      display: flex;
      align-items: center;
      .title{
        font-family: 'SFProText-Semibold';
        margin: 0 0 0 -3vw;
        line-height: 1.5;
        font-size: 4vw;
      }
    }
  }

  .card{
    
  }

  .map-container{
    margin-top: 30vw;
  }
}
