page-notifications {
  .page{
    background-color:	white;
  }

  .header-logo{
    display:inline-block;
    height: 10vw;
    margin-left: 2vw;
  }

  .notif-header {
    position: absolute;
    width: 100vw;
    height: 100vw;
    left: 5vw;
    top: 10vw;
    font-family: 'SFUIDisplay-Bold';
    line-height: 40px;
    font-size: 8vw;
    letter-spacing: 0.624299px;
    color: #FFD500;
    p{
      margin: 0;
      font-size: 8vw;
    }
  }


  .timefeed{
    margin-top: 20vw;
    padding-left: 5vw; 
    background: #ffffff;
    width: 100%;
    .timeline-header{
      display: flex;
      align-items: center;
      font-family: 'SFUIDisplay-Bold';
      font-size: 5.5vw;
      margin: 0;
      padding-left: 0;
    }
    .btn-next-timeline{
      padding-right: 0px;
    }
    .timeline-content{
      margin-top: 5vw;
    }
    .btn-see-all{
      -webkit-box-shadow: none;
      box-shadow: none;
      text-transform: none;
      font-family: 'SFUIText-Semibold';
      border-radius: 3vw;
      height: 13vw;
      width: 90vw;
      font-size: 4vw;
    }
  }
}
