<ion-content padding class="page">
  <ion-row class="notif-header">
    <p>Notification</p>
  </ion-row>
  <div class="timefeed">
    <div class="timeline-content">
      <notification endIcon="call" [items]="model.timeline"></notification>
    </div>
  </div>
</ion-content>
