<ion-content no-padding class="modal-page">
    <ion-row class="modal-header">
        <img src="assets/imgs/iconClose.png" class="close-btn" (click)="onClickCloseButton()"/>
    </ion-row>
    <div class="card-header">
        <ion-row>
            <ion-col col-9>
                <p class="part-location">Jakarta</p>
                <ion-row>
                  <ion-col col-7>
                    <p><span class="part-label">Part</span></p>
                    <p><span class="part-number">154-70-11314</span></p>
                  </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-3>
                <p class="available-label">Quantity</p>
                <p [style.text-align]="'end'"><span class="available-value">1</span></p>
            </ion-col>
        </ion-row>
    </div>
    <div class="timeline">
        <ion-row class="timeline-item">
            <div class="ball-delivered"></div>
            <ion-card>
              <ion-card-content>
                <p class="time">18 July 2018 • 16:30 WIB</p>
                <p class="title">Order Status : Delivered</p>
              </ion-card-content>
            </ion-card>
        </ion-row>
    </div>
    <div class="timeline">
        <ion-row class="timeline-item">
            <div class="ball-invoiced"></div>
            <ion-card>
              <ion-card-content>
                <p class="time">17 July 2018 • 14:30 WIB</p>
                <p class="title">Order Status : Invoiced</p>
              </ion-card-content>
            </ion-card>
        </ion-row>
    </div>
    <div class="timeline">
        <ion-row class="timeline-item">
            <div class="ball-pickup"></div>
            <ion-card>
              <ion-card-content>
                <p class="time">16 July • 16:33 WIB</p>
                <p class="title">Order Status : Ready for Pickup</p>
              </ion-card-content>
            </ion-card>
        </ion-row>
    </div>
    <div class="timeline">
        <ion-row class="timeline-item">
            <div class="ball-processing"></div>
            <ion-card>
              <ion-card-content>
                <p class="time">15 July • 15:03 WIB</p>
                <p class="title">Order Status : Processing</p>
              </ion-card-content>
            </ion-card>
        </ion-row>
    </div>
</ion-content>