my-orders-open-part-available{
  .modal-page{
    background: white !important;
  }
  .modal-header{
    font-size: 5vw;
    font-family: 'SFUIDisplay-Bold';
    text-align: center;
    .close-btn{
        width: 5vw;
        position: absolute;
        top: 6vw;
        left: 5vw;
    }
  }
  .card-header{
    border: 0.5vw solid #E9E9E9;
    border-radius: 2vw;
    margin: 18vw 5vw 5vw 5vw;
    padding: 3vw;
    p{
      margin:0;
      padding: 0;
    }
    .part-location{
      font-family: 'SFUIText-Bold';
      font-size: 3.7vw;
      color: rgb(29, 29, 29);
      margin-bottom: 2vw;
    }
    .part-label{
      font-family: 'SFUIText-Regular';
      font-size: 3.2vw;
      color: rgb(154, 154, 154);
      margin-right: 2.4vw;
    }
    .part-number{
      font-family: 'SFUIText-Medium';
      font-size: 3.7vw;
      color: rgb(29, 29, 29);
    }
    .available-label{
      font-family: 'SFUIText-Regular';
      font-size: 3.2vw;
      color: rgb(154, 154, 154);
      margin-bottom: 0 !important;
      text-align: end;
    }
    .available-value{
      font-family: 'SFUIText-Bold';
      font-size: 4vw;
      color: rgb(29, 29, 29);
    }
  }
  .timeline {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5vw;
    padding-bottom: 5vw;
    position: relative;
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1vw;
      // background: linear-gradient(rgb(242, 242, 242) 1%, white 50%, rgb(242, 242, 242) 100%);
      background: #E6E6E6;
      left: 10.5vw;
    }
    // &:first-child:before {
    //   content: '';
    //   position: absolute;
    //   top: 10%;
    //   bottom: 0;
    //   width: 1vw;
    //   background: #E6E6E6;
    //   left: 10.5vw;
    // }
    &:last-child:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1vw;
      background: #E6E6E6;
      left: 10.5vw;
    }
  
    .timeline-item {
      position: relative;
      display: inline-block;
      margin-top: -5vw;
  
      /* Right content */
      ion-card {
        margin-left: 20vw !important;
        width: 100vw !important;
        position: relative;
      }

      .ball-delivered{
        background: #76D672;
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        position: absolute;
        left: 5%;
        top: 10%;
      }
      .ball-invoiced{
        background: #2971C6;
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        position: absolute;
        left: 5%;
        top: 10%;
      }
      .ball-pickup{
        background: #66C8F7;
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        position: absolute;
        left: 5%;
        top: 10%;
      }
      .ball-processing{
        background: #F5D656;
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        position: absolute;
        left: 5%;
        top: 10%;
      }
  
      .arrow-icon{
        position: absolute;
        top: 20%;
        right: 25%;
      }
    }
  
    .card, .card-md, .card-ios {
      -webkit-box-shadow: none;
      box-shadow: none;
      margin: 0;
    }
  
    .card-content-md {
      padding-top: 2vw;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      margin-left: 1vw;
    }
  
    .time{
      padding: 0;
      font-size: 3.3vw;
      line-height: 1;
      color: rgb(152, 152, 152);
    }
  
    .title{
      padding: 0;
      font-size: 3.7vw;
      font-weight: 900;
    }
  }
  
}