.timeline {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5vw;
  padding-bottom: 5vw;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1vw;
    background: linear-gradient(rgb(242, 242, 242) 1%, white 50%, rgb(242, 242, 242) 100%);
    left: 8vw;
  }
  &:first-child:before {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 1vw;
    background: linear-gradient(white 10%, rgb(242, 242, 242) 90%);
    left: 8vw;
  }
  &:last-child:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1vw;
    background: linear-gradient(rgb(242, 242, 242) 70%, white 100%);
    left: 8vw;
  }

  .timeline-item {
    position: relative;
    display: inline-block;
    margin-top: -5vw;

    /* Right content */
    ion-card {
      margin-left: 20vw !important;
      width: 100vw !important;
      position: relative;
    }

    .time-icon {
      width: 17vw;
      position: absolute;
      color: #fff;
      left: 0;
      top: 10%;
      line-height: 7vw;
    }

    .arrow-icon{
      position: absolute;
      top: 20%;
      right: 25%;
    }
  }

  .card, .card-md, .card-ios {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
  }

  .card-content-md {
    padding-top: 2vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1vw;
  }

  .time{
    padding: 0;
    font-size: 3.3vw;
    line-height: 1;
    color: rgb(152, 152, 152);
  }

  .title{
    padding: 0;
    font-size: 3.7vw;
    font-weight: 900;
  }

  .description{
    padding: 0;
    font-size: 3.3vw;
    width: 60vw;
    line-height: 1.5;
    font-family: 'SFProText-Regular';
  }
}
