<div class="timeline" *ngFor="let item of items">
  <ion-row class="timeline-item">
      <img src="assets/imgs/{{item.icon}}" class="time-icon"/>
      <ion-card>
        <ion-card-content>
          <p class="time">{{item.time}}</p>
          <p class="title">{{item.title}}</p>
          <p class="description">{{item.content}}</p>
        </ion-card-content>
      </ion-card>
  </ion-row>
</div>
