<ion-header>
  <ion-fab class="fab-container" center top [scrollDisplay]="displayScrollConfig" [scrollContent]="myContent">
    <button ion-button color="ut-yellow" (click)="onClickBackToTop()">
      <img src="assets/imgs/arrow-up.png" class="arrow-up-icon">
      &nbsp; Back to Top
    </button>
  </ion-fab>
</ion-header>
<ion-content no-padding #myContent>
  <div class="header-container">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <ion-grid no-padding>
          <ion-row justify-content-center>
            <p class="title">Part Detail</p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </div>
  <div class="top-content">
    <ion-row>
      <p class="part-date">10 JULY 2018</p>
    </ion-row>
    <ion-row>
      <ion-col col-7 class="po-number">
        <p>Water Pump Kit</p>
      </ion-col>
    </ion-row>
    <ion-row class="part-eta">
      <ion-col col-4 class="no-side">
        <ion-row class="part-eta-title">
          <p>Part Number</p>
        </ion-row>
        <ion-row class="part-eta-content">
          <p>6754-61-1210</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="part-eta">
      <ion-col col-4 class="no-side">
        <ion-row class="part-eta-title">
          <p>ETA</p>
        </ion-row>
        <ion-row class="part-eta-content">
          <p>22 July 2018</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-scroll scrollX="true">
        <div class="scroll-item total-item">
          <p class="item-title">Total Order</p>
          <p class="total-value">2</p>
          <p class="total-label">Pcs</p>
        </div>
        <div class="scroll-item branch-item">
          <p class="item-title">Item Availability</p>
          <div class="branch-value">
            <div class="branch-bar">
              <div class="branch-bar-value"></div>
            </div>
            <p class="branch-value-label">50%</p>
          </div>
          <p class="branch-label">Item in branch</p>
        </div>
        <div class="scroll-item quantity-item">
          <p class="item-title">Quantity Detail</p>
          <div class="quantity-value">
            <div class="quantity-bar">
              <div class="quantity-bar-value"></div>
            </div>
            <ion-row class="quantity-row-label">
              <ion-col col-4>
                <p class="quantity-value-label available">1</p>
              </ion-col>
              <ion-col col-4>
                <p class="quantity-value-label outstanding">1</p>
              </ion-col>
            </ion-row>
          </div>
          <ion-row class="quantity-row-label">
            <ion-col col-4>
              <p class="quantity-label">Available</p>
            </ion-col>
            <ion-col col-4>
              <p class="quantity-label">Outstanding</p>
            </ion-col>
          </ion-row>
          <div class="filler"></div>
        </div>
        <div class="white-border"></div>
      </ion-scroll>
    </ion-row>
  </div>
  <div class="list-content">
    <ion-row class="tabs">
      <ion-item class="tabs-item" (click)="onClickTabs('available')">
        <p [ngClass]="selected == 'available' ? 'tabs-type selected' : 'tabs-type'">Available</p>
        <div class="custom-badge-container">
          <p [ngClass]="selected == 'available' ? 'custom-badge-selected' : 'custom-badge'">1</p>
        </div>
      </ion-item>
      <ion-item class="tabs-item" (click)="onClickTabs('outstanding')">
        <p [ngClass]="selected != 'available' ? 'tabs-type selected' : 'tabs-type'">Outstanding</p>
        <div class="custom-badge-container">
          <p [ngClass]="selected != 'available' ? 'custom-badge-selected' : 'custom-badge'">1</p>
        </div>
      </ion-item>
    </ion-row>
    <ion-card class="part-item" *ngIf="selected == 'available'" (click)="onClickAvailable()">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-location">Jakarta</p>
            <ion-row>
              <ion-col col-5>
                <p><span class="part-label">PO Number</span></p>
                <p><span class="part-number">723927382</span></p>
              </ion-col>
              <ion-col col-5>
                <p><span class="part-label">Part</span></p>
                <p><span class="part-number">154-70-11314</span></p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Quantity</p>
            <p><span class="available-value">1</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div class="status-bar-value">
                Delivered
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="status-eta-row">
          <ion-col col-7>
            <p><span class="order-status">Closed</span></p>
          </ion-col>
          <ion-col col-5>
            <p><span class="eta-label">ETA</span><span class="eta-date">18 July 2018</span></p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="part-item" *ngIf="selected != 'available'" (click)="onClickOutstanding()">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-location">Balikpapan</p>
            <div class="invoice-badge">Partial Invoiced</div>
            <ion-row>
              <ion-col col-5>
                <p><span class="part-label">PO Number</span></p>
                <p><span class="part-number">723927382</span></p>
              </ion-col>
              <ion-col col-5>
                <p><span class="part-label">Part</span></p>
                <p><span class="part-number">154-70-11314</span></p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Quantity</p>
            <p><span class="available-value">1</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div [style.background]="'#2971C6'"  [style.width]="'70vw'" [style.border-radius]="'2.2vw 0 0 2.2vw'" class="status-bar-value">
                Received
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="status-eta-row">
          <ion-col col-7>
            <p><span class="order-status">Open</span></p>
          </ion-col>
          <ion-col col-5>
            <p><span class="eta-label">ETA</span><span class="eta-date">18 July 2018</span></p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
