page-my-orders-open-order-part {
  .fab-container{
    display: none;
    button{
      font-size: 3.5vw;
      text-transform: none;
      height: 10vw;
      width: 35vw;
      border-radius: 10vw;
      box-shadow: none;
      margin-left: -8vw;
    }
    .arrow-up-icon{
      width: 3vw;
    }
  }
  .header-container{
    background: white;
    padding: 0 5vw 0 5vw;
    .header{
      height: 25vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
        .btn-refresh{
          width: 6vw;
          height: 6vw;
          margin: auto;
          margin-right: 0;
        }
      }
      .title-container{
        display: flex;
        align-items: center;
        .title{
          font-family: 'SFProText-Semibold';
          margin: 0 0 0 -3vw;
          line-height: 1.5;
          font-size: 4vw;
        }
      }
    }
  }
  .top-content{
    padding: 0vw 5vw 0vw 5vw;
    background: white;
    p{
      margin: 0;
      padding: 0;
    }
    .po-number{
      padding: 0;
      font-family: 'SFUIText-Bold';
      color: rgb(29, 29, 29);
      font-size: 5.4vw;
    }
    .part-date{
      padding: 0;
      text-align:end;
      font-family: 'SFUIText-Regular';
      color: rgb(116, 116, 116);
      font-size: 3.5vw;
    }
    .part-eta{
      margin-top: 3.5vw;
      .no-side{
        margin: 0;
        padding: 0;
      }
      .part-eta-title{
        padding: 0;
        margin-bottom: 0.5vw;
        font-family: 'SFUIText-Regular';
        color: rgb(154, 154, 154);
        font-size: 3.2vw;
      }
      .part-eta-content{
        padding: 0;
        font-family: 'SFUIText-Medium';
        color: rgb(29, 29, 29);
        font-size: 3.7vw;
      }
    }
    ion-scroll[scrollX] {
      margin-top: 3.2vw;
      margin-right: -5vw;
      margin-left: -5vw;
      margin-bottom: 0vw;
      padding-left: 5vw;
      padding-right: 5vw;
      width: 200vw;
      height: 37vw;
      white-space: nowrap;
      .scroll-item{
        left: 5vw;
        margin-right: 1.2vw;
        position: relative;
        display: inline-block;
        background: none;
        height: 32.72vw;
        border-radius: 2vw;
        border-width: 0.5vw;
        border-style: solid;
        border-color: rgb(240, 240, 240);
        padding-left: 3.9vw;
        padding-top: 3.3vw;
        .item-title{
          padding: 0;
          font-family: 'SFUIText-Regular';
          color: rgb(85, 85, 85);
          font-size: 3.3vw;
        }
      }
      .white-border{
        left: 5vw;
        position: relative;
        display: inline-block;
        background: none;
        height: 20.72vw;
        width: 2.5vw;
      }
      .total-item{
        min-width: 27vw;
        .total-value{
          margin-top: 3.2vw;
          font-family: 'SFUIText-Bold';
          color: rgb(29, 29, 29);
          font-size: 10.8vw;
        }
        .total-label{
          font-family: 'SFUIDisplay-Regular';
          color: rgb(155, 155, 155);
          font-size: 3.5vw;
        }
      }
      .branch-item{
        min-width: 37.5vw;
        .branch-value{
          margin-top: 3.2vw;
          .branch-bar{
            margin: 0 0 0 -1vw;
            background-color: rgb(227, 227, 227);
            height: 5.3vw;
            width: 30vw;
            padding: 0;
            border-radius: 1.3vw;
            .branch-bar-value{
              background-color: rgb(245, 214, 86);
              border-radius: 1.3vw 0 0 1.3vw;
              height: 5.3vw;
              padding: 0;
              width: 20vw;
            }
          }
          .branch-value-label{
            margin-top: 2vw;
            font-family: 'SFUIText-Bold';
            color: rgb(218, 181, 0);
            font-size: 4.5vw;
          }
        }
        .branch-label{
          margin-top: 0.9vw;
          font-family: 'SFUIDisplay-Regular';
          color: rgb(29, 29, 29);
          font-size: 2.9vw;
        }
      }
      .quantity-item{
        min-width: 45vw;
        .quantity-value{
          margin-top: 3.2vw;
          .quantity-bar{
            margin: 0 0 0 -1vw;
            background-color: #E9445A;
            height: 5.3vw;
            width: 38vw;
            padding: 0;
            border-radius: 1.3vw;
            .quantity-bar-value{
              background-color: #76D672;
              border-radius: 1.3vw 0 0 1.3vw;
              height: 5.3vw;
              padding: 0;
              width: 19vw;
            }
          }
        }
        .quantity-row-label{
          ion-col{
            margin: 0 0 0 0;
            padding: 0;
          }
          .available{
            color: #76D672;
          }
          .outstanding{
            color: #E9445A;
          }
          .quantity-value-label{
            margin-top: 2vw;
            font-family: 'SFUIText-Bold';
            font-size: 4.5vw;
            // margin-bottom: 2vw;
          }
          .quantity-label{
            margin-top: 0.9vw;
            font-family: 'SFUIDisplay-Regular';
            color: rgb(29, 29, 29);
            font-size: 2.9vw;
          }

        }
      }
      .send-list{
        box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
        min-width: 30vw;
        .send-title{
          padding: 0;
          font-family: 'SFUIText-Regular';
          color: rgb(85, 85, 85);
          font-size: 3.5vw;
        }
        .img-mail{
          width: 9.3vw;
          margin-top: 1.2vw;
          margin-bottom: 1.5vw;
        }
        .send-label{
          font-family: 'SFUIDisplay-Regular';
          color: rgb(155, 155, 155);
          font-size: 2.9vw;
        }
      }
    }
  }
  .list-content{
    background-color: rgb(242, 242, 244);
    min-height: 100vw;
    .content-action{
      text-align:end;
      margin: 6.1vw 5vw 2vw 5vw;
      .img-filter{
        width: 4.2vw;
        margin-right: 9vw;
      }
      .img-sort{
        width: 5.6vw;
      }
    }
    .tabs{
      white-space: nowrap;
      height: 12vw;
      background: white;
      padding-left: 5vw;
      .tabs-item {
        display: inline-block;
        width: auto;
        height: 15vw;
        background: none;
        padding-left: 0;
        padding-right: 5vw;
        color: rgba(15, 20, 113, 0.28);
        font-family: 'SFUIDisplay-Bold';
        margin-right: 0;
        .input-wrapper{
          display: flex;
          align-items: flex-end;
        }
        .tabs-type{
          line-height: 6vw;
          font-size: 4vw;
          margin-bottom: 0;
        }
        .custom-badge-container{
          position: absolute;
          top: 2.5vw;
          right: 5vw;
          width: 3vw;
          .custom-badge{
            color: rgba(124, 124, 124, 0.28);
            font-size: 3vw;
          }
          .custom-badge-selected{
            color: #007AFF;
            font-size: 3vw;
          }
        }
      }
      .selected{
        color: black;
        border-bottom: 0.5vw solid map-get($colors, ut-yellow);
      }
    }
    .part-item{
      box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
      border-radius: 1.5vw;
      padding: 3vw;
      margin-top: 4vw !important;
      padding: 0px !important;
      margin-left: 5vw;
      width: 89.3vw;
      // height: 26.4vw;
      ion-card-content{
        padding: 3.5vw 4vw 3.5vw 5vw !important;
      }
      ion-col{
        margin: 0;
        padding: 0;
      }
      .part-detail{
        margin-bottom: 2vw;
        .invoice-badge{
          position: absolute;
          top: -0.5vw;
          left: 25vw;
          background: #E9445A;
          padding: 1.5vw;
          border-radius: 100px;
          font-size: 2.5vw;
          color: white;
          font-family: 'SFUIText-Regular';
        }
        .part-location{
          font-family: 'SFUIText-Bold';
          font-size: 3.7vw;
          color: rgb(29, 29, 29);
          margin-bottom: 2vw;
        }
        .part-label{
          font-family: 'SFUIText-Regular';
          font-size: 3.2vw;
          color: rgb(154, 154, 154);
          margin-right: 2.4vw;
        }
        .part-number{
          font-family: 'SFUIText-Medium';
          font-size: 3.7vw;
          color: rgb(29, 29, 29);
        }
      }
      .available-status{
        text-align:end;
        .available-label{
          font-family: 'SFUIText-Regular';
          font-size: 3.2vw;
          color: rgb(154, 154, 154);
          margin-bottom: 0 !important;
        }
        .available-value{
          font-family: 'SFUIText-Bold';
          font-size: 3.7vw;
          color: rgb(29, 29, 29);
        }
        .available-total{
          font-family: 'SFUIText-Medium';
          font-size: 3.7vw;
          color: rgb(131, 131, 131);
        }
      }
      .status-bar{
        width: 80vw;
        height: 4vw;
        background-color: #E3E3E3;
        margin: 0;
        padding: 0;
        border-radius: 2.2vw;
        .status-bar-value{
          height: 4vw;
          width: 80vw;
          background-color: #76D672;
          // border-radius: 2.2vw 0 0 2.2vw;
          border-radius: 2.2vw;
          font-family: 'SFUIText-Medium';
          font-size: 2.5vw;
          color: rgb(29, 29, 29);
          padding: 0.3vw 0vw 0.5vw 3.7vw;
        }
      }
      .status-eta-row{
        margin-top: 3vw;
        .order-status{
          font-family: 'SFUIText-Medium';
          font-size: 3.7vw;
          color: rgb(29, 29, 29);
        }
        .eta-label{
          font-family: 'SFUIText-Regular';
          font-size: 3.7vw;
          color: rgb(154, 154, 154);
          margin-right: 1vw;
        }
        .eta-date{
          font-family: 'SFUIText-Medium';
          font-size: 3.7vw;
          color: rgb(29, 29, 29);
        }
      }
    }
  }
}
