page-my-equipments-status {
  .header-container{
    background: white;
    padding: 0 5vw 0 5vw;
    .header{
      height: 25vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
        .btn-info{
          width: 7vw;
          height: 7vw;
          margin: auto;
          margin-right: 0;
        }
      }
    } 
    ion-scroll[scrollX] {
      margin-top: 4vw;
      white-space: nowrap;
      height: 12vw;
      .scroll-item {
        display: inline-block;
        width: auto;
        height: 15vw;
        background: none;
        padding-left: 0;
        padding-right: 8vw;
        color: rgba(15, 20, 113, 0.28);
        font-family: 'SFUIDisplay-Bold';
        margin-right: 0;
        .input-wrapper{
          display: flex;
          align-items: flex-end;
        }
        .tabs-type{
          line-height: 2.1;
          font-size: 4vw;
          margin-bottom: 0;
          margin-right: 0.5vw;
        }
        .custom-badge-container{
          position: absolute;
          top: 1.5vw;
          right: 5vw;
          width: 3vw;
          .custom-badge{
            color: rgba(124, 124, 124, 0.28);
            font-size: 3vw;
          }
          .custom-badge-selected{
            color: #7D7D7D;
            font-size: 3vw;
          }
        }
      }
      .selected{
        color: map-get($colors, ut-yellow);
        border-bottom: 0.5vw solid map-get($colors, ut-yellow);
      }
    }
    .item-md p, .item-ios p{
      color: rgba(124, 124, 124, 0.28);
    }
  }

  .card-status-main {
    margin-top: 4vw;
    width: 100%;
    border-radius: 2vw;
    box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
  }
  .item-md.item-block .item-inner{
    padding-right: 0;
  }

  .label-md {
    margin: 1vw 0 1vw 0;
  }

  .content{
    padding: 2vw 5vw 15vw 5vw;
    background: linear-gradient(white, rgb(242, 242, 244), rgb(242, 242, 244),
                              rgb(242, 242, 244), rgb(242, 242, 244), rgb(242, 242, 244),
                              rgb(242, 242, 244), rgb(242, 242, 244), rgb(242, 242, 244));
    .btn-show-more{
      -webkit-box-shadow: none;
      box-shadow: none;
      text-transform: none;
      font-family: 'SFUIText-Semibold';
      border-radius: 2vw;
      height: 9vw;
      width: 90vw;
      font-size: 4vw;
      margin-top: 3vw;
    }
    .spinner-show-more{
      margin-left: 40vw;
      margin-top: 5vw;
    }
  }
  .status-header {
    padding:0vw;
    margin:0 auto;
    text-align: center;
  }
  .status-title {
    font-family: 'SFProText-Semibold';
    font-size: 4.5vw;
    font-weight: 800;
    margin-top: 2.5vw;
  }
  .status-unit-count {
    font-family: 'SFProText-Regular';
    font-size: 3.5vw;
    margin-top: -4.5vw;
  }
  .status-logo {
    width: 26vw;
  }
  .status-unit-type {
    color: rgb(15, 20, 113);
    font-family: 'SFUIDisplay-Bold';
    font-size: 4vw;
    margin-top: -1vw;
    margin-left: 4vw;
  }
  .status-searchbar {
    background: none;
    margin-left: 0vw;
  }
  .searchbar-input {
    background: rgb(246,246,246);
    font-family: 'SFProText-Regular';
    border-radius: 1.5vw;
    border-bottom: white;
    height: 9vw !important;
    padding-top: 0vw;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    margin-top: -2vw;
    .input-search {
      font-size: 3.5vw;
      margin-left: 2vw;
    }
    .searchbar-label {
      font-size: 4vw;
      margin-left: 1vw;
      color: grey;
    }
    .searchbar-close-button {
      position: absolute;
      font-size: 4vw;
      right: 0;
      top: 0;
      margin: 7px 1.5vw 7px 8px;
      color: grey;
    }
  }
  .status-sortby{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    img {
      width: 6vw;
      margin-left: 3vw;
    }
  }

  .item {
    min-height: 9vw;
  }

  .card-status-caution {
    background-color:  map-get($colors, ut-yellow);
    font-family: 'SFUIText-Regular';
    border-radius: 10vw;
    font-size: 2.2vw;
    letter-spacing: 0.2vw;
    padding: 2vw 4vw 2vw 4vw;
    margin-top: 3vw;
    margin-left: 3vw;
  }

  .card-status-not-available {
    background-color:  #7D7D7D;
    font-family: 'SFUIText-Regular';
    border-radius: 10vw;
    font-size: 2.2vw;
    letter-spacing: 0.2vw;
    padding: 2vw 4vw 2vw 4vw;
    margin-top: 3vw;
    margin-left: 3vw;
  }

  .card-status-operate {
    background-color:  #4DCC8C;
    font-family: 'SFUIText-Regular';
    border-radius: 10vw;
    font-size: 2.2vw;
    letter-spacing: 0.2vw;
    padding: 2vw 4vw 2vw 4vw;
    margin-top: 3vw;
    margin-left: 3vw;
  }

  .card-status-not-operate {
    background-color:  #E9445A;
    font-family: 'SFUIText-Regular';
    border-radius: 10vw;
    font-size: 2.2vw;
    letter-spacing: 0.2vw;
    padding: 2vw 4vw 2vw 4vw;
    margin-top: 3vw;
    margin-left: 3vw;
  }

  .card-status-type {
    font-family: 'SFUIText-Bold';
    font-size: 4vw;
    color: black;
    margin-top: 3vw;
  }

  .card-status-rectangle {
    width: 4vw;
    margin-top: 3vw;
  }
  .card-status-rectangle-up {
    right: -5vw;
  }
  .orange-block{
    border-radius: 1.2vw;
    font-size: 2.5vw;
    font-family: 'SFUIText-Semibold';
    width: auto;
    height: 5.9vw;
    background-color: map-get($colors, ut-yellow);
    color: white;
    text-align:center;
    padding: 1.3vw 1vw 1vw 1vw;
    margin-right: 1.4vw;
  }

  .status-serial {
    font-family: 'SFUIText-Regular';
    color: rgb(154,154,154);
    font-size: 3.3vw;
    margin: 0;
    line-height: 1.2;
  }

  .status-serial-number {
    font-family: 'SFUIText-Medium';
    font-size: 3.5vw;
    color: black;
  }

  .status-warranty{
    font-family: 'SFUIText-Medium';
    font-size: 3.5vw;
    color: #59AD24;
  }

  .status-out-warranty{
    font-family: 'SFUIText-Medium';
    font-size: 3.5vw;
    color: #9A9A9A;
  }

  .unit-image {
    width: 31vw;
  }
  .smr {
    padding-bottom: 4vw;
    display: flex;
    .smr-number {
      color: rgb(144, 144, 144);
      font-size: 3vw;
      font-family: 'SFUIText-Regular';
      margin-right: 1.5vw;
    }
    .smr-number2 {
      color: rgb(144, 144, 144);
      font-size: 3vw;
      font-family: 'SFUIText-Regular';
      justify-self: flex-end;
    }
  }
  
  #my-equipment-status-content {
    background: none;
    padding-top: 0;
  }

  #my-equipment-status-header {
    padding-bottom: 0;
  }

  .item-ios.item-block .item-inner {
    border-bottom: none;
  }

  .input-cover {
    border-bottom: none;
  }

  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: rgb(246,246,246);
  }
  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    box-shadow: none;
  }  

  .item-md.item-block .item-inner {
    border-bottom: none;
  }

  .unit-status{
    margin-bottom: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    color: #909090;
    font-size: 3.5vw;
    .dropicon{
      width: 2.5vw;
      object-fit: scale-down;
      margin: 0;
    }
    .speedometer{
      width: 5vw;
      object-fit: scale-down;
      margin: 0;
    }
    p{
      margin: 0;
      padding: 0;
    }
  }
}