<ion-content no-padding>
  <div class="header-container" id="my-equipment-status-header">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickGoBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <ion-grid padding>
          <ion-row>
            <div class="status-header">
              <p class="status-title">{{this.brand == "ALL" ? "ALL EQUIPMENTS" : this.brand}}</p>
              <p class="status-unit-count">{{this.type == "" ? "All Type" : this.type}}</p>
            </div>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/iconInformation.png" *ngIf="selected != ''" class="btn-info" (click)="onClickGetInformation()">
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-10 no-padding>
          <ion-item class="searchbar-input">        
            <ion-label class="searchbar-label"> <ion-icon name="search"></ion-icon></ion-label>
            <ion-input (keydown.enter)="onSearchSubmit()" [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}" class="input-search" type="text" placeholder="Search Unit" clearInput></ion-input>
            <!-- <ion-label *ngIf="searchInput" class="searchbar-close-button"> <ion-icon name="close-circle"></ion-icon></ion-label> -->
          </ion-item>
        </ion-col>
        <ion-col col-2 class="status-sortby" no-padding>
          <img src="assets/imgs/iconShortBy.png" (click)="onClickSortBy()">
        </ion-col>
    </ion-row>
    <ion-scroll scrollX="true" *ngIf="selected != 'ALL'">
      <ion-item class="scroll-item" *ngFor="let tab of model.header" (click)="onClickStatus(tab.status)">
        <p [ngClass]="tab.selected ? 'tabs-type selected' : 'tabs-type'">{{tab.status != "" ? tab.status : "All"}}</p>
        <div class="custom-badge-container">
          <p [ngClass]="tab.selected ? 'custom-badge-selected' : 'custom-badge'">{{tab.amount}}</p>
        </div>
      </ion-item>
    </ion-scroll>
  </div>
  <div class="content" id="my-equipment-status-content">
    <ion-card *ngFor="let unit of model.list" class="card-status-main" (click)="onClickUnitDetail(unit.equipmentId)" no-margin>
        <ion-row class="card-status-header">
          <ion-col col-5>
            <ion-badge 
              [ngClass]="unit.isUnitCaution ? 'card-status-caution' : 
               unit.operationStatus == 0 ? 'card-status-operate' : 
               unit.operationStatus == 1 ? 'card-status-not-operate' :
               'card-status-not-available'">{{unit.isUnitCaution ? "Unit Caution" : unit.operationStatusString}}</ion-badge>
          </ion-col>
          <ion-col col-5>
            <p class="card-status-type">{{unit.modelNumber}}</p>
          </ion-col>
          <ion-col col-2 class="card-status-rectangle-up">
            <img src="assets/imgs/rectangle.png" class="card-status-rectangle">
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-5>
              <img class="unit-image" src="assets/imgs/excavator.png">
            </ion-col>
            <ion-col col-7>
              <ion-row>
                <p class="status-serial">Serial Number</p>
              </ion-row>
              <ion-row style="margin-bottom: 2vw">
                <p class="status-serial-number">{{unit.serialNumber}}</p>
              </ion-row>
              <ion-row>
                <p class="status-warranty" *ngIf="unit.warrantyStatus == 1">Warranty</p>
              </ion-row>
              <ion-row>
                <p class="status-out-warranty" *ngIf="unit.warrantyStatus == 0">Out of Warranty</p>
              </ion-row>
              <ion-row class="unit-status">
                <img src="assets/imgs/dropicon.png" class="dropicon"/>&nbsp;
                {{unit.operationStatus != 2 ? unit.fuelConsumptionPerDay+' L' : '-'}}&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="assets/imgs/speedometer.png" class="speedometer"/>&nbsp;
                {{unit.smrValuePerDayInMinutes != 2 ? unit.fuelConsumptionPerDay+' Hours' : '-'}}
              </ion-row>
              <ion-row class="smr" align-items-center>
                  <div class="orange-block">SMR</div>
                  <p class="smr-number">{{unit.smrLastValueDate ? ((unit.smrTotalInMinutes / 60) | number:'1.0-0')+' hr' : '-' }}</p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <p class="smr-number2">{{this.getSMRDate(unit.smrLastValueDate)}}</p>
              </ion-row>
            </ion-col>
        </ion-row>
    </ion-card>
    <div *ngIf="this.model.hasNextPage">
      <ion-spinner *ngIf="this.showMoreLoading" class="spinner-show-more"></ion-spinner>
      <button *ngIf="!this.showMoreLoading" ion-button color="button-outline" class="btn-show-more" (click)="getMoreData()">Show More</button>
    </div>
  </div>
</ion-content>