page-my-orders {
  .header-container{
    background: white;
    padding: 0;
    height: 100vw;
    .header{
      padding: 0vw 5vw 0vw 5vw;
      padding-top: 5vw;
      padding-bottom: 1vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
      }
      .title-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .status-title {
          font-family: 'SFProText-Semibold';
          font-size: 4.5vw;
        }
      }
    }
    .separator{
      background: #F2F2F4;
      height: 3vw;
      width: 100vw;
    }
    .toolbar{
      background: white;
      height: 18vw;
      .toolbar-title{
        font-family: 'SFUIText-Bold';
        font-size: 4.5vw;
        padding-left: 5vw;
      }
      .btn-container{
        display: flex;
        justify-content: flex-end;
        padding-right: 5vw;
        .icon-filter{
          width: 4vw;
          object-fit: scale-down;
        }
        .icon-sort{
          margin-left: 10vw;
          width: 5vw;
          object-fit: scale-down;
        }
      }
      .btn-back-toolbar{
        position: absolute;
        left: 5vw;
        width: 6vw;
        opacity: 0;
      }
    }

    .tabs{
      white-space: nowrap;
      height: 12vw;
      background: white;
      padding-left: 5vw;
      .tabs-item {
        display: inline-block;
        width: auto;
        height: 15vw;
        background: none;
        padding-left: 0;
        padding-right: 8vw;
        color: rgba(15, 20, 113, 0.28);
        font-family: 'SFUIDisplay-Bold';
        margin-right: 0;
        .input-wrapper{
          display: flex;
          align-items: flex-end;
        }
        .tabs-type{
          line-height: 2.6;
          font-size: 4vw;
          margin-bottom: 0;
        }
        .custom-badge-container{
          position: absolute;
          top: 2.5vw;
          right: 5vw;
          width: 3vw;
          .custom-badge{
            color: rgba(124, 124, 124, 0.28);
            font-size: 3vw;
          }
          .custom-badge-selected{
            color: #7D7D7D;
            font-size: 3vw;
          }
        }
      }
      .selected{
        color: black;
        border-bottom: 0.5vw solid map-get($colors, ut-yellow);
      }
    }
    .item-md p, .item-ios p{
      color: rgba(124, 124, 124, 0.28);
    }
  }

  ion-scroll[scrollX] {
    margin-top: 4vw;
    white-space: nowrap;
    height: 35vw;
    .total-order-card {
      margin-left: 5vw;
      padding: 3vw;
      display: inline-block;
      width: 27vw;
      height: 30vw;
      font-family: 'SFUIDisplay-Bold';
      margin-right: 0;
      border: 0.5vw solid #F0F0F0;
      border-radius: 2vw;
      .card-header{
        width: 100%;
        font-size: 3vw;
        font-family: 'SFUIText-Light';
        color: #555555;
      }
      .total-order-value{
        margin-top: 2vw;
        font-size: 8vw;
        font-family: 'SFUIText-Bold';
        color: #1D1D1D;
        line-height: 1;
      }
      .total-order-footer{
        font-size: 2.8vw;
        font-family: 'SFUIDisplay-Light';
      }
    }
    .monthly-otif-card{
      margin-left: 2vw;
      padding: 3vw;
      display: inline-block;
      width: 40vw;
      height: 30vw;
      font-family: 'SFUIDisplay-Bold';
      margin-right: 0;
      border: 0.5vw solid #F0F0F0;
      border-radius: 2vw;
      .card-header{
        position: absolute;
        top: 10%;
        width: 100%;
        font-size: 3vw;
        font-family: 'SFUIText-Light';
        color: #555555;
      }
      .monthly-otif-value{
        position: absolute;
        font-size: 5.5vw;
        top: 10vw;
        font-family: 'SFUIText-Bold';
        color: #6A69DD;
      }
      .monthly-otif-footer{
        font-size: 2.6vw;
        font-family: 'SFUIDisplay-Thin';
        position: absolute;
        bottom: 10%;
        color: #9B9B9B;
      }
    }
    .send-order-card{
      margin-left: 2vw;
      padding: 3vw;
      display: inline-block;
      width: 30vw;
      height: 30vw;
      font-family: 'SFUIDisplay-Bold';
      margin-right: 0;
      border: 0.5vw solid #F0F0F0;
      border-radius: 2vw;
      box-shadow: 0vw 0.5vw 2vw rgba(0, 0, 0, 0.0586221);
      .send-order-header-container{
        position: absolute;
        top: 10%;
        .send-order-card-header{
          top: 10%;
          width: 100%;
          font-size: 3.3vw;
          font-family: 'SFProText-Semibold';
          color: #4F4F4F;
          line-height: 1;
        } 
      }
      .mail-icon{
        position: absolute;
        top: 13vw;
        width: 9vw;
        margin-left: -0.5vw;
      }
      .send-order-card-footer{
        font-size: 2.6vw;
        font-family: 'SFUIDisplay-Thin';
        position: absolute;
        bottom: 10%;
        color: #9B9B9B;
      }
    }
    .white-space{
      margin-left: 2vw;
      padding: 3vw;
      display: inline-block;
      width: 5vw;
      height: 30vw;
    }
  }

  .item-ios, .item-md{
    padding: 2vw;
    ion-label{
     margin: 0 !important; 
    }
    .item-inner{
      padding: 0 !important;
    }
  }

  .summary-header-container{
    padding: 0vw 5vw 0vw 5vw;
    .summary-header{
      font-size: 4.5vw;
      font-family: 'SFUIText-Bold';
    }
    .summary-period{
      font-size: 3.2vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: 'SFUIText-Light';
      color: #9A9A9A;
    }
  }

  .header::after, .tabs[tabsPlacement="top"] > .tabbar::after, .footer::before, .tabs[tabsPlacement="bottom"] > .tabbar::before {
    display: none;
  }

  .card{
    margin-top: 5vw;
    margin-left: 5vw;
    width: 90vw;
    border-radius: 2vw;
    box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
    height: 36vw;
    padding: 2vw;
    .card-order-header{
      font-family: 'SFUIText-Bold';
      font-size: 3.5vw;
      color: #1D1D1D;
    }
    .card-date-header{
      font-family: 'SFUIDisplay-Regular';
      font-size: 3vw;
      text-align: end;
      color: #747474;
    }
    .card-order-id-container{
      .card-order-id-label{
        color: #9A9A9A;
        font-family: 'SFUIText-Regular';
        font-size: 3vw;
        line-height: 1.2;
      }
      .card-order-id{
        color: #3275EF;
        font-family: 'SFUIText-Regular';
        font-size: 3.5vw;
        line-height: 1.2;
      }
    }
    .card-total-item-container{
      text-align: end;
      .card-total-item-label{
        color: #555555;
        font-family: 'SFUIText-Regular';
        font-size: 3.5vw;
      }
      .card-total-item{
        color: #C2A100;
        font-family: 'SFUIText-Regular';
        font-size: 3vw;
      }
    }
    .card-feedback-container{
      display: flex;
      justify-content: flex-end;
      p{
        font-size: 3vw;
        color: #9A9A9A;
        font-family: 'SFUIText-Regular';
      }
      .star-icon{
        width: 3.5vw;
        margin-left: 1vw;
        display: inline;
      }
    }
    .card-eta-label{
      color: #9A9A9A;
      font-family: 'SFUIText-Regular';
      font-size: 3vw;
      line-height: 1.2;
    }
    .card-eta{
      color: #1D1D1D;
      font-family: 'SFUIText-Regular';
      font-size: 3.5vw;
      line-height: 1.2;
    }
    .card-progress-bar-container{
      text-align: end;
      .card-progress-bar-value{
        color: #C2A100;
        font-family: 'SFUIText-Regular';
        font-size: 3.5vw;
      }
      .card-progress-bar-label{
        color: #555555;
        font-family: 'SFUIText-Regular';
        font-size: 3vw;
      }
      .card-progress-bar{
        width: 100%;
        height: 2vw;
        border-radius: 2vw;
        margin-top: 2vw;
      }
    }
  }

  .card-closed{
    margin-top: 5vw;
    margin-left: 5vw;
    width: 90vw;
    border-radius: 2vw;
    box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
    height: 36vw;
    padding: 4vw;
    .card-header-row{
      .card-order-header{
        font-family: 'SFUIText-Bold';
        font-size: 3.5vw;
        color: #1D1D1D;
      }
      .card-date-header{
        font-family: 'SFUIDisplay-Regular';
        font-size: 3vw;
        text-align: end;
        color: #747474;
      }
    }
    .card-order-id-container{
      margin-top: 2vw;
      .card-order-id-label{
        color: #9A9A9A;
        font-family: 'SFUIText-Regular';
        font-size: 3vw;
        line-height: 1.2;
      }
      .card-order-id{
        color: #3275EF;
        font-family: 'SFUIText-Regular';
        font-size: 3.5vw;
        line-height: 1.2;
      }
    }
    .card-total-item-container{
      text-align: end;
      .card-total-item-label{
        color: #555555;
        font-family: 'SFUIText-Regular';
        font-size: 3.5vw;
      }
      .card-total-item{
        color: #C2A100;
        font-family: 'SFUIText-Regular';
        font-size: 3vw;
      }
    }
    .card-feedback-container{
      display: flex;
      justify-content: flex-end;
      margin-top: 1vw;
      p{
        font-size: 3vw;
        color: #9A9A9A;
        font-family: 'SFUIText-Regular';
      }
    }
    .card-feedback-rating{
      display: flex;
      justify-content: flex-end;
      .star-icon{
        width: 3.5vw;
        margin-left: 1vw;
        display: inline;
      }
    }

    .card-progress-bar-row{
      margin-top: 1vw;
      .card-eta-label{
        color: #9A9A9A;
        font-family: 'SFUIText-Regular';
        font-size: 3vw;
        line-height: 1.2;
      }
      .card-eta{
        color: #1D1D1D;
        font-family: 'SFUIText-Regular';
        font-size: 3.5vw;
        line-height: 1.2;
      }
      .card-progress-bar-container{
        text-align: end;
        .card-progress-bar-value{
          color: #C2A100;
          font-family: 'SFUIText-Regular';
          font-size: 3.5vw;
        }
        .card-progress-bar-label{
          color: #555555;
          font-family: 'SFUIText-Regular';
          font-size: 3vw;
        }
        .card-progress-bar{
          width: 100%;
          height: 2vw;
          border-radius: 2vw;
          margin-top: 2vw;
        }
      }
    }
  }

  .fab-hidden{
    display: none;
    position: absolute;
    top: 32vw;
    left: 32.5vw;
    .button{
      font-size: 3.5vw;
      text-transform: none;
      height: 10vw;
      width: 35vw;
      border-radius: 10vw;
      box-shadow: none;
    }
    .arrow-up-icon{
      width: 3vw;
    }
  }
}