<ion-header>
  <div [scrollHide]="headerScrollConfig" [scrollContent]="myContent" class="header-container">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickGoBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <div class="status-header">
          <p class="status-title">My Order</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="summary-header-container">
      <ion-col col-6 class="summary-header" no-padding>
        Order Summary
      </ion-col>
      <ion-col col-6 class="summary-period">
        Month to Date
      </ion-col>
    </ion-row>
    <ion-scroll scrollX="true">
      <ion-item class="total-order-card" no-padding>
        <p class="card-header">Total Order</p>
        <p class="total-order-value">{{model.summary.totalOrder}}</p>
        <p class="total-order-footer">List</p>
      </ion-item>
      <ion-item class="monthly-otif-card" no-padding>
        <p class="card-header">Monthly OTIF</p>
        <p class="monthly-otif-value">{{model.summary.otifPercent}}%</p>
        <p class="monthly-otif-footer">OTIF (On Time In Full)</p>
      </ion-item>
      <ion-item class="send-order-card" no-padding (click)="onClickSendEmail()">
        <div class="send-order-header-container">
          <p class="send-order-card-header">Send List</p>
          <p class="send-order-card-header">Order</p>
        </div>
        <img src="assets/imgs/sendMail.png" class="mail-icon">
        <p class="send-order-card-footer">in CSV</p>
      </ion-item>
      <ion-item class="white-space" no-padding>
      </ion-item>
    </ion-scroll>
    <div class="separator"></div>
    <ion-row class="toolbar">
      <ion-col col-8 class="toolbar-title" [scrollTranslate]="translateScrollConfig" [scrollContent]="myContent">
        <img src="assets/imgs/buttonBack.png" class="btn-back-toolbar" (click)="onClickGoBack()" [scrollOpacity]="opacityScrollConfig" [scrollContent]="myContent">
        Order List
      </ion-col>
      <ion-col col-4 class="btn-container">
        <img src="assets/imgs/iconFilter.png" class="icon-filter" (click)="onClickFilter()">
        <img src="assets/imgs/iconShortByBold.png" class="icon-sort" (click)="onClickSort()">
      </ion-col>
    </ion-row>
    <ion-row class="tabs">
      <ion-item class="tabs-item" (click)="onClickTabs('openorder')">
        <p [ngClass]="model.selected == 'openorder' ? 'tabs-type selected' : 'tabs-type'">Open Order</p>
        <div class="custom-badge-container">
          <p [ngClass]="model.selected == 'openorder' ? 'custom-badge-selected' : 'custom-badge'">{{model.summary.openOrder}}</p>
        </div>
      </ion-item>
      <ion-item class="tabs-item" (click)="onClickTabs('closeorder')">
        <p [ngClass]="model.selected != 'openorder' ? 'tabs-type selected' : 'tabs-type'">Close Order</p>
        <div class="custom-badge-container">
          <p [ngClass]="model.selected != 'openorder' ? 'custom-badge-selected' : 'custom-badge'">{{model.summary.closedOrder}}</p>
        </div>
      </ion-item>
    </ion-row>
  </div>
</ion-header>
<ion-fab class="fab-hidden" [scrollDisplay]="displayScrollConfig" [scrollContent]="myContent">
  <button ion-button color="ut-yellow" (click)="onClickBackToTop(500)">
    <img src="assets/imgs/arrow-up.png" class="arrow-up-icon">
    &nbsp; Back to Top
  </button>
</ion-fab>
<ion-content fullscreen no-padding #myContent overflow-scroll="true">
  <div *ngIf="model.selected == 'openorder'">
    <ion-card class="card" *ngFor="let order of model.openOrderList" (click)="onClickOpenOrderDetail(order.soNumber)">
      <ion-row class="card-header-row">
        <ion-col col-6 class="card-order-header">
          {{order.poCustomer}}
        </ion-col>
        <ion-col col-6 class="card-date-header">
          {{order.soDate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="card-order-id-container">
          <p class="card-order-id-label">Order ID</p>
          <p class="card-order-id">{{order.soNumber}}</p>
        </ion-col>
        <ion-col col-6 class="card-total-item-container">
          <p>
            <span class="card-total-item-label">Total Item</span>
            <span class="card-total-item">{{order.totalLineItem}}</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <p class="card-eta-label">ETA</p>
          <p class="card-eta">{{order.eta != null ? order.eta : '-'}}</p>
        </ion-col>
        <ion-col col-6 class="card-progress-bar-container">
          <p>
            <span class="card-progress-bar-value">
              {{order.availability > 100 ? '' : order.availability}}%
            </span>
            <span class="card-progress-bar-label">
              Available
            </span>
          </p>
          <div class="card-progress-bar" [style.background]="'linear-gradient(to right, #FFD500 ' + order.availability + '%, #D0D0D0 ' + order.availability +'%)'"></div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div *ngIf="model.selected != 'openorder'">
      <ion-card class="card-closed" *ngFor="let order of model.closedOrderList" (click)="onClickCloseOrder(order.soNumber)">
        <ion-row class="card-header-row">
          <ion-col col-6 class="card-order-header" no-padding>
            {{order.poCustomer}}
          </ion-col>
          <ion-col col-6 class="card-date-header" no-padding>
            {{order.soDate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 class="card-order-id-container" no-padding>
            <p class="card-order-id-label">Order ID</p>
            <p class="card-order-id">{{order.soNumber}}</p>
          </ion-col>
          <ion-col col-6 no-padding >
            <ion-grid no-padding>
              <ion-row class="card-feedback-container">
                <p>Feedback</p>
              </ion-row>
              <ion-row class="card-feedback-rating">
                <div *ngFor="let i of rating">
                  <img src="assets/imgs/star-filled.png" class="star-icon" *ngIf="i < order.reviewStar">
                  <img src="assets/imgs/star.png" class="star-icon" *ngIf="i >= order.reviewStar">
                </div>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row class="card-progress-bar-row">
          <ion-col col-6 no-padding>
            <p class="card-eta-label">Receipt Date</p>
            <p class="card-eta">{{order.eta != null ? order.eta : '-'}}</p>
          </ion-col>
          <ion-col col-6 class="card-progress-bar-container" no-padding>
            <p>
              <span class="card-progress-bar-value">
                {{order.otif > 100 ? '' : order.otif}}%
              </span>
              <span class="card-progress-bar-label">
                OTIF
              </span>
            </p>
            <div class="card-progress-bar" [style.background]="'linear-gradient(to right, #76D672 ' + order.otif + '%, #D0D0D0 ' + order.otif +'%)'"></div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
</ion-content>