<ion-content no-padding class="modal-page">
    <ion-row class="modal-header">
        <img src="assets/imgs/iconClose.png" class="close-btn" (click)="onClickCloseButton()"/>
        <p class="header-label">Sort by</p>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row>
                <p class="group-title">Order Date</p>
            </ion-row>
        </ion-col>
        <ion-col col-12>
            <ion-row class="option-row">
                <div class="option-box" (click)="onClickSort1(1)" [ngClass]="this.sorted1 == 1 ? 'selected' : ''">Newest</div>
                <div class="option-box" (click)="onClickSort1(2)" [ngClass]="this.sorted1 == 2 ? 'selected' : ''">Oldest</div>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row>
                <p class="group-title">SO Number</p>
            </ion-row>
        </ion-col>
        <ion-col col-12>
            <ion-row class="option-row">
                <div class="option-box" (click)="onClickSort2(1)" [ngClass]="this.sorted2 == 1 ? 'selected' : ''">
                    <img src="assets/imgs/iconAscending.png" class="asc-icon">
                    Ascending
                </div>
                <div class="option-box" (click)="onClickSort2(2)" [ngClass]="this.sorted2 == 2 ? 'selected' : ''">
                    <img src="assets/imgs/iconDescending.png" class="asc-icon">
                    Descending
                </div>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="sort-group">
        <ion-col col-12>
            <ion-row>
                <p class="group-title">Part Description</p>
            </ion-row>
        </ion-col>
        <ion-col col-12>
            <ion-row class="option-row">
                <div class="option-box" (click)="onClickSort3(1)" [ngClass]="this.sorted3 == 1 ? 'selected' : ''">
                    <img src="assets/imgs/iconAscending.png" class="asc-icon">
                    Ascending
                </div>
                <div class="option-box" (click)="onClickSort3(2)" [ngClass]="this.sorted3 == 2 ? 'selected' : ''">
                    <img src="assets/imgs/iconDescending.png" class="asc-icon">
                    Descending
                </div>
            </ion-row>
        </ion-col>
    </ion-row>
    <div>
        <button ion-button color="ut-yellow" class="btn-see-all" (click)="onClickApply()">Apply</button>
    </div>
</ion-content>