page-my-orders-open-order {
  .fab-container{
    display: none;
    button{
      font-size: 3.5vw;
      text-transform: none;
      height: 10vw;
      width: 35vw;
      border-radius: 10vw;
      box-shadow: none;
      margin-left: -8vw;
      margin-top: 15vw;
    }
    .arrow-up-icon{
      width: 3vw;
    }
  }
  .header-container{
    background: white;
    padding: 0 5vw 0 5vw;
    .header{
      height: 25vw;
      .header-btn-container{
        display: flex;
        align-items: center;
        .btn-back{
          width: 7vw;
          height: 7vw;
        }
      }
      .title-container{
        display: flex;
        align-items: center;
        .title{
          font-family: 'SFProText-Semibold';
          margin: 0 0 0 -3vw;
          line-height: 1.5;
          font-size: 4vw;
        }
      }
      .filter-sort{
        margin-left: -6vw;
        display: none;
        align-items: center;
        .img-filter{
          width: 4.2vw;
          margin-right: 9vw;
        }
        .img-sort{
          width: 5.6vw;
        }
      }
    }
  }
  
  .header::after, .tabs[tabsPlacement="top"] > .tabbar::after, .footer::before, .tabs[tabsPlacement="bottom"] > .tabbar::before {
    display: none;
  }
  
  .top-content{
    padding: 0vw 5vw 0vw 5vw;
    background: white;
    p{
      margin: 0;
      padding: 0;
    }
    .po-number{
      padding: 0;
      font-family: 'SFUIText-Bold';
      color: rgb(29, 29, 29);
      font-size: 5.4vw;
    }
    .po-date{
      padding: 0;
      text-align:end;
      font-family: 'SFUIText-Regular';
      color: rgb(116, 116, 116);
      font-size: 3.4vw;
    }
    .order-id-eta{
      margin-top: 5.8vw;
      .no-side{
        margin: 0;
        padding: 0;
      }
      .order-id-title{
        padding: 0;
        margin-bottom: 1.3vw;
        font-family: 'SFUIText-Regular';
        color: rgb(154, 154, 154);
        font-size: 3.2vw;
      }
      .order-id-content{
        padding: 0;
        font-family: 'SFUIText-Medium';
        color: rgb(50, 115, 235);
        font-size: 3.7vw;
      }
      .eta-title{
        padding: 0;
        margin-bottom: 1.3vw;
        font-family: 'SFUIText-Regular';
        color: rgb(154, 154, 154);
        font-size: 3.2vw;
      }
      .eta-content{
        padding: 0;
        font-family: 'SFUIText-Medium';
        color: rgb(29, 29, 29);
        font-size: 3.7vw;
      }
    }
    ion-scroll[scrollX] {
      margin-top: 3.2vw;
      margin-right: -5vw;
      margin-left: -5vw;
      margin-bottom: 0vw;
      padding-left: 5vw;
      padding-right: 5vw;
      width: 200vw;
      height: 37vw;
      white-space: nowrap;
      .scroll-item{
        left: 5vw;
        margin-right: 1.2vw;
        position: relative;
        display: inline-block;
        background: none;
        height: 32.72vw;
        border-radius: 2vw;
        border-width: 0.5vw;
        border-style: solid;
        border-color: rgb(240, 240, 240);
        padding-left: 3.9vw;
        padding-top: 3.3vw;
        .item-title{
          padding: 0;
          font-family: 'SFUIText-Regular';
          color: rgb(85, 85, 85);
          font-size: 3.3vw;
        }
      }
      .white-border{
        left: 5vw;
        position: relative;
        display: inline-block;
        background: none;
        height: 20.72vw;
        width: 2.5vw;
      }
      .total-item{
        min-width: 27vw;
        .total-value{
          margin-top: 3.2vw;
          font-family: 'SFUIText-Bold';
          color: rgb(29, 29, 29);
          font-size: 10.8vw;
        }
        .total-label{
          font-family: 'SFUIDisplay-Regular';
          color: rgb(155, 155, 155);
          font-size: 3.5vw;
        }
      }
      .branch-item{
        min-width: 47.5vw;
        .branch-value{
          margin-top: 3.2vw;
          .branch-bar{
            margin: 0 0 0 -1vw;
            background-color: rgb(227, 227, 227);
            height: 5.3vw;
            width: 41vw;
            padding: 0;
            border-radius: 1.3vw;
            .branch-bar-value{
              background-color: rgb(245, 214, 86);
              border-radius: 1.3vw 0 0 1.3vw;
              height: 5.3vw;
              padding: 0;
              width: 33vw;
            }
          }
          .branch-value-label{
            margin-top: 2vw;
            font-family: 'SFUIText-Bold';
            color: rgb(218, 181, 0);
            font-size: 4.5vw;
          }
        }
        .branch-label{
          margin-top: 0.9vw;
          font-family: 'SFUIDisplay-Regular';
          color: rgb(29, 29, 29);
          font-size: 2.9vw;
        }
      }
      .send-list{
        box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
        min-width: 30vw;
        .send-title{
          padding: 0;
          font-family: 'SFUIText-Regular';
          color: rgb(85, 85, 85);
          font-size: 3.5vw;
        }
        .img-mail{
          width: 9.3vw;
          margin-top: 1.2vw;
          margin-bottom: 1.5vw;
        }
        .send-label{
          font-family: 'SFUIDisplay-Regular';
          color: rgb(155, 155, 155);
          font-size: 2.9vw;
        }
      }
    }
  }
  .list-content{
    background-color: rgb(242, 242, 244);
    min-height: 100vw;
    .content-action{
      text-align:end;
      margin: 6.1vw 5vw 2vw 5vw;
      .img-filter{
        width: 4.2vw;
        margin-right: 9vw;
      }
      .img-sort{
        width: 5.6vw;
      }
    }
    .part-item{
      box-shadow: 0vw 0.5vw 2vw rgba(0,0,0,0.06);
      border-radius: 1.5vw;
      padding: 3vw;
      margin-top: 2vw !important;
      padding: 0px !important;
      margin-left: 5vw;
      width: 89.3vw;
      height: 26.4vw;
      ion-card-content{
        padding: 3.5vw 4vw 3.5vw 5vw !important;
      }
      ion-col{
        margin: 0;
        padding: 0;
      }
      .part-detail{
        margin-bottom: 2vw;
        .part-name{
          font-family: 'SFUIText-Bold';
          font-size: 3.7vw;
          color: rgb(29, 29, 29);
          margin-bottom: 2vw;
        }
        .part-label{
          font-family: 'SFUIText-Regular';
          font-size: 3.2vw;
          color: rgb(154, 154, 154);
          margin-right: 2.4vw;
        }
        .part-number{
          font-family: 'SFUIText-Medium';
          font-size: 3.7vw;
          color: rgb(29, 29, 29);
        }
      }
      .available-status{
        text-align:end;
        .available-label{
          font-family: 'SFUIText-Regular';
          font-size: 3.2vw;
          color: rgb(154, 154, 154);
          margin-bottom: 0 !important;
        }
        .available-value{
          font-family: 'SFUIText-Bold';
          font-size: 3.7vw;
          color: rgb(29, 29, 29);
        }
        .available-total{
          font-family: 'SFUIText-Medium';
          font-size: 3.7vw;
          color: rgb(131, 131, 131);
        }
      }
      .status-bar{
        width: 80vw;
        height: 4.5vw;
        background-color: rgb(208, 208, 208);
        margin: 0;
        padding: 0;
        border-radius: 2.2vw;
        .status-bar-value{
          height: 4.5vw;
          width: 30vw;
          background-color: rgb(245, 214, 86);
          border-radius: 2.2vw 0 0 2.2vw;
          font-family: 'SFUIText-Medium';
          font-size: 2.6vw;
          color: rgb(29, 29, 29);
          padding: 0.5vw 0vw 0.5vw 3.7vw;
        }
      }
    }
  }
}
