<ion-header>
  <div class="header-container">
    <ion-row class="header">
      <ion-col col-2 class="header-btn-container" no-padding>
        <img src="assets/imgs/buttonBack.png" class="btn-back" (click)="onClickBack()">
      </ion-col>
      <ion-col col-8 class="title-container" no-padding>
        <ion-grid no-padding>
          <ion-row justify-content-center>
            <p class="title">Processing</p>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-2 class="filter-sort" [scrollDisplay]="filterScrollConfig" [scrollContent]="myContent">
        <img src="assets/imgs/iconFilter.png" class="img-filter">
        <img src="assets/imgs/iconShortByBold.png" class="img-sort">
      </ion-col>
    </ion-row>
  </div>
  <ion-fab class="fab-container" center top [scrollDisplay]="displayScrollConfig" [scrollContent]="myContent">
    <button ion-button color="ut-yellow" (click)="onClickBackToTop()">
      <img src="assets/imgs/arrow-up.png" class="arrow-up-icon">
      &nbsp; Back to Top
    </button>
  </ion-fab>
</ion-header>
<ion-content no-padding #myContent>
  <div class="top-content">
    <ion-row>
      <ion-col col-7 class="po-number">
        <p>PO 84893235</p>
      </ion-col>
      <ion-col col-5 class="po-date">
        <p>10 July 2018</p>
      </ion-col>
    </ion-row>
    <ion-row class="order-id-eta">
      <ion-col col-4 class="no-side">
        <ion-row class="order-id-title">
          <p>Order ID</p>
        </ion-row>
        <ion-row class="order-id-content">
          <p>33775646</p>
        </ion-row>
      </ion-col>
      <ion-col col-4 class="no-side">
        <ion-row class="eta-title">
          <p>ETA</p>
        </ion-row>
        <ion-row class="eta-content">
          <p>25 July 2018</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-scroll scrollX="true">
        <div class="scroll-item total-item">
          <p class="item-title">Total Item</p>
          <p class="total-value">4</p>
          <p class="total-label">Item</p>
        </div>
        <div class="scroll-item branch-item">
          <p class="item-title">Item in branch</p>
          <div class="branch-value">
            <div class="branch-bar">
              <div class="branch-bar-value"></div>
            </div>
            <p class="branch-value-label">75%</p>
          </div>
          <p class="branch-label">Item in branch</p>
        </div>
        <div class="scroll-item send-list">
          <p class="send-title">Send List<br/>Order</p>
          <img src="assets/imgs/sendMail.png" class="img-mail">
          <p class="send-label">in CSV</p>
        </div>
        <div class="white-border"></div>
      </ion-scroll>
    </ion-row>
  </div>
  <div class="list-content">
    <ion-row class="content-action">
      <ion-col col-12>
        <img src="assets/imgs/iconFilter.png" class="img-filter">
        <img src="assets/imgs/iconShortByBold.png" class="img-sort">
      </ion-col>
    </ion-row>
    <ion-card class="part-item" (click)="onClickPart('154-70-11314')">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-name">Cutting Edge-p</p>
            <p><span class="part-label">Part</span><span class="part-number">154-70-11314</span></p>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Available</p>
            <p><span class="available-value">30</span><span class="available-total"> / 50</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div class="status-bar-value">
                Processing
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="part-item">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-name">Metal Assy</p>
            <p><span class="part-label">Part</span><span class="part-number">6754-22-8310</span></p>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Available</p>
            <p><span class="available-value">25</span><span class="available-total"> / 30</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div class="status-bar-value">
                Ready for Shipment
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="part-item">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-name">Water Pump Kit</p>
            <p><span class="part-label">Part</span><span class="part-number">6754-22-1210</span></p>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Available</p>
            <p><span class="available-value">1</span><span class="available-total"> / 2</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div class="status-bar-value">
                In Transit
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="part-item">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-name">Tooth</p>
            <p><span class="part-label">Part</span><span class="part-number">419-70-13114</span></p>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Available</p>
            <p><span class="available-value">30</span><span class="available-total"> / 50</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div class="status-bar-value">
                Delivered
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="part-item">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-name">Cutting Edge-p</p>
            <p><span class="part-label">Part</span><span class="part-number">154-70-11314</span></p>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Available</p>
            <p><span class="available-value">30</span><span class="available-total"> / 50</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div class="status-bar-value">
                Processing
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="part-item">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-name">Metal Assy</p>
            <p><span class="part-label">Part</span><span class="part-number">6754-22-8310</span></p>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Available</p>
            <p><span class="available-value">25</span><span class="available-total"> / 30</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div class="status-bar-value">
                Ready for Shipment
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="part-item">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-name">Water Pump Kit</p>
            <p><span class="part-label">Part</span><span class="part-number">6754-22-1210</span></p>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Available</p>
            <p><span class="available-value">1</span><span class="available-total"> / 2</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div class="status-bar-value">
                In Transit
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="part-item">
      <ion-card-content>
        <ion-row>
          <ion-col col-9 class="part-detail">
            <p class="part-name">Tooth</p>
            <p><span class="part-label">Part</span><span class="part-number">419-70-13114</span></p>
          </ion-col>
          <ion-col col-3 class="available-status">
            <p class="available-label">Available</p>
            <p><span class="available-value">30</span><span class="available-total"> / 50</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="status-bar">
              <div class="status-bar-value">
                Delivered
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
