<ion-header style="height: 50vw; background: red;" [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <p style="position:absolute; bottom: 0; color: white">
    Hello
  </p>
</ion-header>
<ion-content no-padding #pageContent fullscreen>
  <ion-card>
    <ion-card-header>
      <h1>Contact Information</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label color="primary" fixed>Name</ion-label>
          <ion-input [(ngModel)]="model.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" fixed>Phone Number</ion-label>
          <ion-input [(ngModel)]="model.phoneNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" fixed>Email</ion-label>
          <ion-input [(ngModel)]="model.email"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Doughnut Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h1>Ticket Detail Form</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list radio-group [(ngModel)]="model.case">
        <ion-item>
          <ion-label color="black">
            Case Type
          </ion-label>
        </ion-item>
        <ion-radio value="complain" style="margin-left: 20px;"></ion-radio>Complain
        <ion-radio value="request"></ion-radio>Request
      </ion-list>
      <ion-item>
        <ion-label color="black">Call Type</ion-label>
        <ion-select [(ngModel)]="model.call">
        <ion-option value="f">Call Type 1</ion-option>
        <ion-option value="m">Call Type 2</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="black">Subcall Type</ion-label>
        <ion-select [(ngModel)]="model.subcall">
        <ion-option value="f">Subcall Type 1</ion-option>
        <ion-option value="m">Subcall Type 2</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="black" fixed>Location</ion-label>
        <ion-input [(ngModel)]="model.location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="black">Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="model.date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Enter a description" [(ngModel)]="model.desc"></ion-textarea>
      </ion-item>
    </ion-card-content>
    <button ion-button style="float: right; margin-right: 5vw;" (click)="onClickNext()">Next</button>
  </ion-card>
</ion-content>